<div id='cmt-list'>
  <div class='cmt-header'>
    <a href='http://{{comment.website}}' class='author' target="_blank">{{comment.author}}</a>
  </div>
  <div class='cmt-date'>{{comment.posted}}</div>
  <div class='cmt-content'><p>{{comment.content}}</p></div>
  <div class='cmt-website'>
    <a href='http://{{blog.comments.website}}' target="_blank">{{comment.website}}</a>
  </div>
</div>