<div class='cmt-form-container'>
  <form id='cf'>{% csrf_token %}
    <h4>leave a reply</h3>
    <div id='input-group'>
      <label for='author'>Name* </label>
      <input type='text' name='author' id='author' required>
    </div>

    <div id='input-group'>
      <label for='email'>Email* </label>
      <input type='text' name='email' id='email' required>
    </div>

    <div id='input-group'>
      <label for='website'>Website* </label>
      <input type='text' name='website' id='website' required>
    </div>
    <div id='input-group' class='comment-container'>
      <textarea name="comment" id='comment'></textarea>
    </div>
    <div id='btn-container'>
      <a href='javascript: post_comment("{{blog.blog.category.name}}" , "{{blog.blog.name}}")' class='btn btn-submit' type='submit'>post comment</a>
    </div>
    <p class='cmt-subscription'>
      <input type='checkbox' name='comment-subscription' id='follow-up' value='0'>
      <label for='comment-subscription'>Notify me of follow-up comments by email</label>
    </p>
    <p class='cmt-subscription'>
      <input type='checkbox' name='blog-subscription' id='blog-subscription' value='0'>
      <label for='subscribe-blog'>Notify me of new post by email</label>
    </p>
    <div class='message-error'></div>
  </form>

</div>