{% load staticfiles %} {% load blog_filters %}
<div class='bw'>
    <p class='h3 text-center'>{{blog.blog.name}}</p>
    <p class='small text-center'>{{blog.blog.created_at}}</p>
    {% if sm_version %}
    <div class='iw'>
        <img src="{{blog.images|get_blog_display_image}}" />
        <p class='small text-center' class='text-center'>{{image.description}}</p>
    </div>
    {% else %} {% for image in blog.images %}
    <div class='iw'>
        <img src="{{image.image.url}}" />
        <p class='small text-center' class='text-center'>{{image.description}}</p>
    </div>
    {% endfor %} {% endif %} {% if not sm_version %}
    <div class='desc'>
        <p>{{blog.blog.content|safe}}</p>
    </div>
    {% else %}
    <div class='desc'>
        <p>{{blog.blog.description|short_description:sm_version}}</p>
    </div>
    {% endif %} {% if show_readmore %}
    <div class='bl-btn-wrap'><a href="{{blog.blog.category.name}}/{{blog.blog.get_blog_url}}" class='btn btn-readmore'>read more</a></div>
    {% endif %}
    <div class='s-medias'>
        <ul>
            <li><a href='#'><i class='fa fa-facebook'></i></a></li>
            <li><a href='#'><i class='fa fa-instagram'></i></a></li>
            <li><a href='#'><i class='fa fa-twitter'></i></a></li>
            <li><a href='{{blog.blog.category.name}}/{{blog.blog.get_blog_url}}#cf'><i class='fa fa-comment-o'></i></a></li>
    </div>
    {% if show_comments %}
    <div id='comment-div' class='cmt-wrapper'>
        <h3>comments</h3>
        {% for comment in blog.comments %} {% include 'partials/blog-comment-template.html' %} {% endfor %}
        <div id='more-comment'></div>
        {% include 'partials/blog-comment-form.html' %}
    </div>
    {% endif %}
</div>