@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:100;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_ultralight.woff") format("woff"), url("../fonts/myriad-set-pro_ultralight.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:100;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_ultralight-italic.woff") format("woff"), url("../fonts/myriad-set-pro_ultralight-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 100';
	src:url("../fonts/myriad-set-pro_ultralight.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:200;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_extrathin.woff") format("woff"), url("../fonts/myriad-set-pro_extrathin.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:200;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_extrathin-italic.woff") format("woff"), url("../fonts/myriad-set-pro_extrathin-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 200';
	src:url("../fonts/myriad-set-pro_extrathin.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:300;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_thin.woff") format("woff"), url("../fonts/myriad-set-pro_thin.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:300;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_thin-italic.woff") format("woff"), url("../fonts/myriad-set-pro_thin-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 300';
	src:url("../fonts/myriad-set-pro_thin.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:400;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_text-italic.woff") format("woff"), url("../fonts/myriad-set-pro_text-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:500;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_medium.woff") format("woff"), url("../fonts/myriad-set-pro_medium.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:500;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_medium-italic.woff") format("woff"), url("../fonts/myriad-set-pro_medium-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 500';
	src:url("../fonts/myriad-set-pro_medium.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:600;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_semibold.woff") format("woff"), url("../fonts/myriad-set-pro_semibold.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:600;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_semibold-italic.woff") format("woff"), url("../fonts/myriad-set-pro_semibold-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 600';
	src:url("../fonts/myriad-set-pro_semibold.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:700;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold.woff") format("woff"), url("../fonts/myriad-set-pro_bold.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:700;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold-italic.woff") format("woff"), url("../fonts/myriad-set-pro_bold-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 700';
	src:url("../fonts/myriad-set-pro_bold.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:800;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold.woff") format("woff"), url("../fonts/myriad-set-pro_bold.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:800;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold-italic.woff") format("woff"), url("../fonts/myriad-set-pro_bold-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 800';
	src:url("../fonts/myriad-set-pro_bold.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:900;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold.woff") format("woff"), url("../fonts/myriad-set-pro_bold.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:900;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold-italic.woff") format("woff"), url("../fonts/myriad-set-pro_bold-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 900';
	src:url("../fonts/myriad-set-pro_bold.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:400;
	src:url("../fonts/myriad-set-pro_text.eot");
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_text.woff") format("woff"), url("../fonts/myriad-set-pro_text.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}


html, body {
	min-height: 100%;
	width: 100%;
	font-size: 14px;
	background: white;
	font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    quotes: "“" "”";
}
p *{
	line-height: 200%;
}
html {height:100%} 
body {min-height:100%}

/********
* HEADER
*********/
#header{
	height: 200px;
	width: 100%;
	margin-bottom: 0;
	border-bottom: 1px solid red;
}

#search-row{
	height: 40px
	width: 100%;
	text-align: right;
	margin: 10px;
}

.btn-search {
	font-weight: bold;
}

:focus {
  outline-color: #6E0012;
  outline-style: groove;
  outline-width: 1px;
}

/*****
*Page content
*****/
#main{
	width: 100%;
	padding: 0 10px;
	height: inherit;
	display: table;
}

.nav,
.page-content{
	padding: 0;
	margin: 0;
	float: left;
	height: 100%;
	display: table-cell;
	overflow: hidden;
}

.nav {
	width: 200px;
	border-right: 1px solid red;
}

.page-content {
	width: calc(100% - 210px);
	padding: 0 0 0 10px;
}

.nav>ul {
	padding: 0;
	margin: 0;
}

.nav>ul ul{
	padding-left: 10px;
	margin: 0;
}

.nav li {
	list-style: none;
	transition: background 1s;
}

li.current>a {
	color: #0040cc !important;
}

.nav li.dropdown{
	padding-left: 14px;
	background-image: url(../images/icons/arrowr.png);
	background-size: 13px 13px;
	background-repeat: no-repeat;
	background-position: 0 2px;
}

li.dropdown>ul {
	/*display: none;*/
}

li.dropdown.active {
	background-image: url(../images/icons/arrowd.png);
}

li.dropdown.active>ul {
	display: block;
}

.nav li a {
	text-transform: capitalize;
	text-decoration: none;
	color: gray;
	cursor: pointer;
}

.nav li a:hover {
	color: #6E0012 !important;
	text-decoration: underline;
}

.ul-div{
	width: 100%;
	text-align: center;
	margin: 50px 0;
}

.ul-div ul {
	margin: 0;
	padding: 0;
}

.ul-div ul li {
	display: block;
	list-style: none;
}

.ul-div a {
	font-size: 1.2em;
	text-transform: capitalize;
}

a {
	cursor: pointer;
}

.title {
	text-transform: capitalize;
	margin-bottom: 30px;
}

.faq{
	display: block;
	width: 100%;
}

.faq p.question {
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 0;
}

.faq p.answer {
	padding-left: 20px;
}

.visible {
	display: block !important;
}

.section {
	margin-bottom: 30px;
	width: 100%;
}

.section span.section-title {
	font-size: 1.3em;
	font-weight: bold;
	display: block;
}

.section span.section-text{
	padding-left: 20px;
	display: block;
}

a{
	color: brown;
}

.img-wrapper {
	width: 100%;
	text-align: center;
}

.img-wrapper img {
	display: block;
	margin: auto;
}


h4.underline {
	text-decoration: underline;
}
#agencies,
#agencies-md,
#dors,#dda, #ddarsa,
#bha, #dc, #virginia,
#ss, #ps, #programs, #experiences,
#indep-living, #transportation,
#financial-lit, #guardianship,
#careers, #career-exploration,
#job-search, #job-skills, #interviews,
#self-determination, #self-advocate, 
#self-disclosure, #usefull-resources,
#transition-process, #transition-calendar,
#community-services, #volunteering, #tips, #sitemap {
	display: none;
}

.icoach-table-headers {
	border: 1px solid #ddd;
	background-color: #6E0012;
	color: white;
	padding: 0 5px;
	font-size: 10px;
}

table {
	table-layout: auto;
}

tr th:first-child{
    width:1%;
    white-space:nowrap;
}

tr th:last-child{
    font-weight: normal;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

th {
	border: 1px solid black !important;
	padding: 3px;
}

.icoach-table {
	border-collapse: collapse;
}

.section ul {
	font-weight: bold;
	padding: 0;
	margin: 20px;
}

.section ul li {
	margin-left: 40px;
	font-weight: normal;
}

