{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="icon" href="{% static 'images/logos/icoach-logo.png' %}" type="image/x-icon" />
    <title>icoach | {{title}}</title>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'iresources/css/main.css' %}">
  </head>
  <body id='body' onhashchange="display_content()">
    {% include 'partials/iresource-header.html' %}
    {% block content %}

    {% endblock %}
    <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'iresources/js/main.js' %}" type="text/javascript"></script>

  </body>
</html>