{% extends 'iresources-base.html' %}
{% load staticfiles %}

{% block content %}
<div id='main'>
	<div class='nav' id='fullh'>
		<p><strong>Navigation</strong></p>
		<ul>
			<li class='dropdown'>
				<a href='#agencies'><strong>Agencies</strong></a>
				<ul>
					<li class='dropdown'>
						<a href='#agencies-md'><strong>maryland agencies</strong></a>
						<ul>
							<li><a href='#dors'>DORS</a></li>
							<li><a href='#dda'>DDA</a></li>
							<li><a href='#bha'>BHA</a></li>
						</ul>
					</li>
					<li class='dropdown'>
						<a href='#dc'><strong>district of columbia</strong></a>
						<ul>
							<li><a href='#ddarsa'>DDA and RSA</a></li>
						</ul>
					</li>
					<li><a href='#virginia'>virginia</a></li>
					<li><a href='#ss'>Social Security</a></li>
				</ul>
			</li>
			<li class='dropdown'>
				<a href='#ps'><strong>postsecondary</strong></a>
				<ul>
						<li><a href='#programs'>programs</a></li>
						<li><a href='#experiences'>the experiences</a></li>
				</ul>
			</li>
			<li class='dropdown'>
				<a href='#indep-living'><strong>independent living</strong></a>
				<ul>
					<li><a href='#transportation'>transportation</a></li>
					<li><a href='#financial-lit'>financial literacy</a></li>
					<li><a href='#guardianship'>guardianship</a></li>
				</ul>
			</li>
			<li class='dropdown'>
				<a href='#careers'><strong>careers</strong></a>
				<ul>
					<li><a href='#career-exploration'>career exploration</a></li>
					<li><a href='#job-search'>job search</a></li>
					<li><a href='#job-skills'>job skills</a></li>
					<li><a href='#interviews'>interviews</a></li>
				</ul>
			</li>
			<li class='dropdown'>
				<a href='#self-determination'><strong>self-Determination</strong></a>
				<ul>
					<li><a href='#self-advocate'>Self-Advocacy</a></li>
					<li><a href='#self-disclosure'>Self-Disclosure</a></li>
				</ul>
			</li>
			<li><a href='#usefull-resources'><strong>useful web resources</strong></a></li>
			<li><a href='#transition-process'><strong>transition process</strong></a></li>
			<li><a href='#transition-calendar'><strong>transition calendar</strong></a></li>
			<li class='dropdown'>
				<a href='#community-services'><strong>community services</strong></a>
				<ul>
					<li><a href='#volunteering'>volunteering</a></li>
				</ul>
			</li>
			<li><a href='#tips'><strong>tips</strong></a></li>
			<li><a href='#sitemap'><strong>sitemap</strong></a></li>
		</ul>
	</div>
	<div class='page-content' id='fullh'>
		<div id='agencies'>{% include 'iresources-agencies.html' %}</div>
		<div id='agencies-md'>{% include 'iresources-agencies-md.html' %}</div>
		<div id='dors'>{% include 'partials/dors.html' %}</div>
		<div id='dda'>{% include 'partials/dda.html' %}</div>
		<div id='bha'>{% include 'partials/bha.html' %}</div>
		<div id='dc'>{% include 'partials/dc.html' %}</div>
		<div id='ddarsa'>{% include 'partials/ddarsa.html' %}</div>
		<div id='virginia'>{% include 'partials/virginia.html' %}</div>
		<div id='ss'>{% include 'partials/ss.html' %}</div>
		<div id='ps'>{% include 'partials/postsecondary.html' %}</div>
		<div id='programs'>{% include 'partials/programs.html' %}</div>
		<div id='experiences'>{% include 'partials/experiences.html' %}</div>
		<div id='indep-living'>{% include 'partials/indep-living.html' %}</div>
		<div id='transportation'>{% include 'partials/transportation.html' %}</div>
		<div id='financial-lit'>{% include 'partials/financial-lit.html' %}</div>
		<div id='guardianship'>{% include 'partials/guardianship.html' %}</div>
		<div id='careers'>{% include 'partials/careers.html' %}</div>
		<div id='career-exploration'>{% include 'partials/career-exploration.html' %}</div>
		<div id='job-search'>{% include 'partials/job-search.html' %}</div>
		<div id='job-skills'>{% include 'partials/job-skills.html' %}</div>
		<div id='interviews'>{% include 'partials/interviews.html' %}</div>
		<div id='self-determination'>{% include 'partials/self-determination.html' %}</div>
		<div id='self-advocate'>{% include 'partials/self-advocate.html' %}</div>
		<div id='self-disclosure'>{% include 'partials/self-diclosure.html' %}</div>
		<div id='usefull-resources'>{% include 'partials/usefull-resources.html' %}</div>
		<div id='transition-process'>{% include 'partials/transition-process.html' %}</div>
		<div id='transition-calendar'>{% include 'partials/transition-calendar.html' %}</div>
		<div id='community-services'>{% include 'partials/community-services.html' %}</div>
		<div id='volunteering'>{% include 'partials/volunteering.html' %}</div>
		<div id='tips'>{% include 'partials/tips.html' %}</div>
		<div id='sitemap'>{% include 'partials/sitemap.html' %}</div>
	</div>
</div>
{% endblock %}