{% load staticfiles %}
<div id='header'>
    <a class='logo' href='/idream'>
        <img src="{% static 'idream/images/logo/logo-no-bg.png' %}" />
    </a>
    <div class='inav'>
        <ul>
            <li><a href='/idream'>home</a></li>
            <li><a href='/idream/academic'>iDream Academy</a></li>
            <li><a href='/idream/project-dream'>Project Dream</a></li>
            <li><a href='/idream/medias'>Dream4life Media</a></li>
            <li><a href='/idream/sponsor'>Become a sponsor</a></li>
        </ul>
    </div>
</div>