{% extends 'icoach-base.html' %}
{% load staticfiles %}

{% block banner %}
<div id='banner-container'>
  {% include 'partials/icoach-slider.html' %}
</div>
{% endblock %}

{% block content %}
<div id='page-container'>
	<div id='main-content'>
		<article id='welcome'>
			<span class='title'>{{title}}</span>
			
		</article>
	</div>
</div>	
{% endblock %}