{% extends 'icoach-base.html' %} {% load staticfiles %} {% block banner %}
<div id='banner-container'>
    {% include 'partials/icoach-slider.html' %}
</div>
{% endblock %} {% block content %}
<div class='coach-content'>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Chasing destiny</strong></div>
        <div class="panel-body">
            <img src="{% static 'images/banners/destiny.jpg' %}" alt="class name" /> Many of us dream everyday but for different reasons our dreams fade away. This class will help you explore and clarify your dreams, gain attainable ways to help them
            become a reality, and overcome obstacles in the process.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>In- to- ME- see: The Me Process</strong></div>
        <div class="panel-body">
            <img src="{% static 'images/banners/intome.jpg' %}" alt="class name" /> Learning about yourself, the ends and outs of you, what makes you tick, your strengths and weakness, your purpose, how God sees you, and so much more. Get to know you
            at a more intimate level that will help you maximize your full potential.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Transition</strong></div>
        <div class="panel-body">
            <img src="{% static 'images/banners/transition.jpg' %}" alt="class name" /> Provide informational workshops for families with resources, special guests from agencies, colleges, etc surrounding the process of transitioning aged youth.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Vision with a Twist</strong></div>
        <div class="panel-body">
            <img src="{% static 'images/banners/vision-twist.jpg' %}" alt="class name" /> Vision board parties for youth and adults to help outline and clarify your dreams and goals in order to help them become a reality.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Got Skills?</strong></div>
        <div class="panel-body">
            <img src="{% static 'images/banners/got-skills.jpg' %}" alt="class name" /> Provide job seekers and employees of all ages with the knowledge and tools to be the PERFECT EMPLOYEE. This class also allows employers to assess their hiring and
            training process.
        </div>
    </div>

</div>
{% endblock %}