{% extends 'icoach-base.html' %}
{% load staticfiles %}
{% block banner %}
<div id='banner-container'>
  {% include 'partials/icoach-slider.html' %}
</div>
{% endblock %}

{% block content %}
<div class='coach-content'>
  <h1 class='text-center' style='color: #6E0012;'><strong>Welcome</strong></h1>
  <span class='welcome-msg'>
    I am so excited that you have stopped by and hope that you are able to find something useful that will assist  you  on your new journey. Here you can find ways to connect with me, empower yourself, and so much more.
  </span>

  <div class='block-info'>
    <div class='block-title'><strong>What is coaching?</strong></div>
    <div class='block-text'>
      Coaches guide people from where they are toward the greater competence and fulfillment they desire. Christian coaching is the art and practice of working with a person or group in the process of moving from where they are to where God wants them.
    </div>

    <div class='block-title'><strong>What is the Purpose of Having a Coach?</strong></div>
    <div class='block-text'>
      <p>Coaching helps people who want to:</p>
      <ul>
        <li>Get unstuck</li>
        <li>Build their confidence</li>
        <li>Expand their vision for the future</li>
        <li>Fulfill their dream</li>
        <li>Unlock their potential</li>
        <li>Increase their skills</li>
        <li>Move through transitions</li>
        <li>Take practical steps toward their goals</li>
      </ul>
    </div>

    <div class='block-title'><strong>What do coaches do to help others?</strong></div>
    <div class='block-text'>
      <ul>
        <li>Stimulate better skills</li>
        <li>Stimulate vision</li>
        <li>Help people grow through life transitions</li>
        <li>Guide Christians in their spiritual journeys</li>
        <li>Speak the truth in love</li>
      </ul>
    </div>

    <div class='block-title'><strong>What happens in coaching?</strong></div>
    <div class='block-text'>
      <ul>
        <li>Explore the issues that the person wants to change</li>
        <li>Bring awareness of where the person is at present</li>
        <li>Assist people, organizations, or churches in formulating life –vision or life- mission</li>
        <li>Help people set goals and plan ways to reach these goals</li>
        <li>Challenge, encourage, and give accountability when obstacles arise in order for the person to get past them and experience success</li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}


{% block services %}
	{% include 'partials/icoach-services.html' %}
{% endblock %}