{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="icon" href="{% static 'images/logos/icoach-logo.png' %}" type="image/x-icon" />
        <title>icoach | {{title}}</title>

        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

        <!-- font awesome -->
        <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/magic.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/apple.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hadron-widgets.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hadron-input.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
    </head>

    <body>

        <div id='body'>

            <div id='header'>{% include 'partials/icoach-navigation.html' %}</div>
            <div class='page-container'>
                {% block banner %}{% endblock %}
                <div class='page-content'>
                    <div class='container-fluid'>
                        <div id='main-content'>
                            {% block content %}{% endblock %}
                        </div>
                        <aside id='sidebar'>
                            <div id='citem'>
                                <h4>Instagram</h4>
                                <div id="instafeed">
                                    <!-- LightWidget WIDGET -->
                                    <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/12453a30dbf252df8feeef3c03af81c3.html" id="lightwidget_12453a30db" name="lightwidget_12453a30db" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                                </div>
                            </div>

                            <div id='citem'>
                                <h4>youtube</h4>
                                <div id="instafeed">
                                    <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=Dream4life Media" width="200" height="200"></iframe>
                                </div>
                            </div>
                            {% if show_idream %}
                            <div id='citem'>
                                <div id="instafeed">
                                    <a href='/idream' target='_new'>
                                        <img src="{% static 'images/icons/idream.png' %}" />
                                    </a>
                                </div>
                            </div>

                            <div id='citem'>
                                <div id="instafeed">
                                    <a href='http://www.flatoutofheels.com?rfsn=59333.7bf9' target='_new'>
                                        <img src="{% static 'images/icons/bags.jpg' %}" />
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </aside>
                    </div>
                </div>
                <div class='clear'></div>
                <div class='container-fluid'>
                    {% block services %}{% endblock %}
                </div>
            </div>
            <div id='footer'>
                {% include 'partials/icoach-footer.html' %}
            </div>
        </div>
        <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/resizeSensor.js' %}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
        <script src="{% static 'js/icoach-function.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/icoach-main.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/hadron-input.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/slider.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'js/tiny_mce.js' %}"></script>

    </body>

</html>