{% extends 'icoach-base.html' %}
{% load staticfiles %}
{% load avatar_tags %}
{% load gravatar %}

{% block banner %}
<div id='banner-container'>
  {% include 'partials/icoach-slider.html' %}
</div>
{% endblock %}

{% block content %}

<div class='rare-reviews'>
	<h1 class='welcome-msg coack-color'>
		Please leave your raves and reviews regarding your experience with Coach K
	</h1>

	<div class='reviews-wrapper'>
		{% for review in reviews %}
			{% include 'partials/icoach-review-template.html' %}
		{% endfor %}
		
		<div id='more-reviews'></div>
		{% include 'partials/icoach-review-form.html' %}
	</div>
</div>

{% endblock %}