{% extends 'icoach-base.html' %}
{% load staticfiles %}

{% block banner %}
<div id='banner-container'>
  {% include 'partials/icoach-slider.html' %}
</div>
{% endblock %}

{% block content %}
<div class='media-section'>
  <h1 class='title text-center'>photo gallery</h1>
  <div class='media-item'>
    <div class='img-wrapper'>
      <img src="http://placehold.it/350x150" class='img-responsive'>
    </div>
    <div class='media-info'>
      <span class='media-title'><a href='#'>title of the show</a></span>
      <span class='media-description small'>
        Description of the show goes here along with some information about the show
        like duration, number of views, number of likes, and etc...
      </span>
    </div>
  </div>

  <div class='media-item'>
    <div class='img-wrapper'>
      <img src="http://placehold.it/350x150" class='img-responsive'>
    </div>
    <div class='media-info'>
      <span class='media-title'><a href='#'>title of the show</a></span>
      <span class='media-description small'>
        Description of the show goes here along with some information about the show
        like duration, number of views, number of likes, and etc...
      </span>
    </div>
  </div>

  <div class='media-item'>
    <div class='img-wrapper'>
      <img src="http://placehold.it/350x150" class='img-responsive'>
    </div>
    <div class='media-info'>
      <span class='media-title'><a href='#'>title of the show</a></span>
      <span class='media-description small'>
        Description of the show goes here along with some information about the show
        like duration, number of views, number of likes, and etc...
      </span>
    </div>
  </div>
</div>

<div class='clear'></div>

<div class='media-section'>
  <h1 class='title text-center'>pathways</h1>
  <div class='full-width-media-centered'>
    <div class='media-item half-width-center'>
      <p>Latest tv show</p>
    </div>
  </div>
</div>

 
{% endblock %}