{% extends 'icoach-base.html' %} {% load staticfiles %} {% load hadron_filters %} {% block banner %}
<div id='banner-container'>
    {% include 'partials/icoach-slider.html' %}
</div>
{% endblock %} {% block content %}
<div class='coach-content'>
    <h1 class='text-center' style='color: #6E0012;'><strong>Thank you for connecting with Coach K!</strong></h1>
    <span class='welcome-msg cursive'>
    From my heart to yours, I truly appreciate each and every opportunity I get to connect with you on any level.  I would like to thank you for your participation in this workshop. In an effort to improve our events, presentations, as well as overall growth, please take a moment to complete this evaluation. Your feedback is always welcomed as we aspire to be more effective in our charge to impact lives.
  </span>
    <br><br>
    <strong><h4 class='text-center'>
    Please click on the title of the form that you wish to complete.
  </h4></strong>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><a onclick='toggle_body("#workshop")'>Workshop Evaluation</a></strong>
        </div>
        <div class="panel-body visible" id='workshop'>
            <form id='workshop-evaluation'>
                <table cellpadding="1" cellspacing="0" class='icoach-table' width="100%">
                    <tbody>
                        <tr>
                            <th class='icoach-table-headers'>Ratings</th>
                            <th class='icoach-table-headers'>Poor</th>
                            <th class='icoach-table-headers'>Fair</th>
                            <th class='icoach-table-headers'>Average</th>
                            <th class='icoach-table-headers'>Good</th>
                            <th class='icoach-table-headers'>Very Good</th>
                            <th class='icoach-table-headers'>Excellent</th>
                            <th class='icoach-table-headers'>Comments</th>
                        </tr>
                        {% for question in workshops %}
                        <tr>
                            <th class='icoach-table-headers'>{{question}}</th>
                            <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='0'></th>
                            <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='1'></th>
                            <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='2'></th>
                            <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='3'></th>
                            <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='4'></th>
                            <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='5'></th>
                            <th><input type='text' id='e{{forloop.counter}}' width="100%"></th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table><br> {% for question in evaluations %}
                <div class='hadron-input-container'>
                    <label for='spouse'>{{question}}</label>
                    <textarea name="evaluation{{forloop.counter}}"></textarea>
                </div>
                {% endfor %}
                <p class='pull-right'>
                    <a onclick='submit_form("#workshop-evaluation")' class='icoach-btn'>Submit</a>
                </p>
            </form>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><a onclick='toggle_body("#coachingForU")'>Is Life Coaching For You?</a></strong>
        </div>
        <div class="panel-body visible" id='coachingForU'>
            <p class='text-justify'>
                What do top successful executives, entrepreneurs, and business owners all have in common? They all use a coach to help them live their dreams and be the best they can be. How about you? Please take just a few moments to find out how ready you are to live
                life to the fullest and be the best you can be.
            </p>
            <p class='text-center'><strong>On a scale from 1 to 10, rate each of the following statements: (if not applicable, score the item a 5).</strong></p>
            <form>
                <ul class='no-bullets'>
                    {% for question in coachings %}
                    <li>
                        <select>
	      				{% for i in 10|times:1 %}
	      				<option>{{i}}</option>
	      				{% endfor %}
	      			</select> {{question}}
                    </li>
                    {% endfor %}
                </ul>
                <div class='hadron-input-container'>
                    <label for='email'>Please enter your email</label>
                    <input type='email' name='email' id='email' required>
                </div>

                <input type='checkbox' id='send-to-me'>&nbsp;&nbsp;Send me a copy<br>
                <input type='checkbox' id='send-to-coachk'>&nbsp;&nbsp;Forward Copy to CoachK
            </form>
            <p class='pull-right'>
                <a onclick='evaluate_result("#coachingForU")' class='icoach-btn'>Evaluate Me</a>
            </p>
            <!-- The Modal -->
            <div id="self-evaluation-modal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        Self Evaluation Result
                    </div>
                    <div class="modal-body">
                        <div id='self-evaluation-result'></div>
                    </div>
                    <div class="modal-footer">
                        <a onclick='close_modal("self-evaluation-modal")' class='icoach-btn white'>close</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><a onclick='toggle_body("#potential")'>Evaluating Coaching Potential</a></strong>
        </div>
        <div class="panel-body visible" id='potential'>
            <p class='text-justify'>
                This evaluation form is designed to assist the potential coach in deciding the potential success of a proposed coaching relationship.
            </p>
            <form id='potential-form'>
                <div class='hadron-input-container'>
                    <label for='client'>Potential Client</label>
                    <input type='text' name='client' id='client' required>
                </div>
                <p>
                    Following an introductory interview, assign a number to each statement based on the following:
                    <ol start="0">
                        <li>This is not true or very likely not true of this person</li>
                        <li>This might be true of this person</li>
                        <li>This appears to be true of this person</li>
                        <li>This definitely or very probably is true of this person</li>
                    </ol>
                </p>
                {% for question in potentials %}
                <p id='potential'>
                    {{question}}
                    <ul class='no-bullets'>
                        <li><input type="radio" name="p{{forloop.counter}}" value="0">0</li>
                        <li><input type="radio" name="p{{forloop.counter}}" value="1">1</li>
                        <li><input type="radio" name="p{{forloop.counter}}" value="2">2</li>
                        <li><input type="radio" name="p{{forloop.counter}}" value="3">3</li>
                    </ul>
                </p>
                {% endfor %}
                <p class='pull-right'>
                    <a onclick='submit_form("#potential")' class='icoach-btn'>Submit</a>
                </p>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><a onclick='toggle_body("#personalForm")'>“Getting to know you” Personal Information Form</a></strong>
        </div>
        <div class="panel-body visible" id='personalForm'>
            <p class='text-justify'>
                <strong>Christian Coaching</strong> is more effective and efficient if you can give the coach some information about yourself at the beginning. <strong>This is confidential information and you are free to pass on any of the questions.</strong>                The more you complete, however, the better your coach will know you and be able to provide the best coaching experience. You can complete this online and return it to <a href='mailto:connect@lifecoachk.org'>connect@lifecoachk.org</a>
            </p>
            <form>
                <div class='hadron-input-container'>
                    <label for='name'>Name* </label>
                    <input type='text' name='name' id='name' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='nickname'>Name you would like to be called </label>
                    <input type='text' name='nickname' id='nickname' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='homephone'>Home Phone </label>
                    <input type='text' name='homephone' id='homephone' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='cellphone'>Cell Phone </label>
                    <input type='text' name='cellphone' id='cellphone' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='email'>Email </label>
                    <input type='email' name='email' id='email' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='occupation'>Occupation </label>
                    <input type='text' name='occupation' id='occupation' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='employer'>Employer Name </label>
                    <input type='text' name='employer' id='employer' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='dob'>Date of Birth </label>
                    <input type='text' name='dob' id='dob' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='maritalstatus'>Marital Status </label>
                    <select>
		      	<option value="single">Single</option>
		      	<option value="married">Married</option>
		      	<option value="divorced">Divorced</option>
		      </select>
                </div>
                <div class='hadron-input-container'>
                    <label for='spouse'>Spouse</label>
                    <input type='text' name='spouse' id='spouse' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='children'>Number of Children</label>
                    <input type='number' name='children' id='children' required>
                </div>
                <h4>
                    Please take as much space as you need to answer as many of the following questions as you wish to answer:
                </h4>
                {% for question in personalInfos %}
                <div class='hadron-input-container'>
                    <label for='spouse'>{{question.text}}</label>
                    <textarea name="{{question.id}}"></textarea>
                </div>
                {% endfor %}
                <p class='pull-right'>
                    <a onclick='evaluate_result("#coachingForU")' class='icoach-btn'>Submit</a>
                </p>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><a onclick='toggle_body("#contact-coachK")'>Contact CoachK</a></strong>
        </div>
        <div class="panel-body visible" id='contact-coachK'>
            <form>
                <div class='hadron-input-container'>
                    <label for='name'>Name* </label>
                    <input type='text' name='name' id='name' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='email'>Email </label>
                    <input type='email' name='email' id='email' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='subject'>Subject </label>
                    <input type='text' name='subject' id='subject' required>
                </div>
                <div class='hadron-input-container'>
                    <label for='name'></label>
                    <textarea name="question" id='question' required></textarea>
                </div>
                <p class='pull-right'>
                    <a onclick='evaluate_result("#coachingForU")' class='icoach-btn'>Submit</a>
                </p>
            </form>
        </div>
    </div>

    <div class='transition-site'>
        <a href='/resources/#agencies'>
            <h1 class='text-center'>Upcoming Events</h1>
        </a>
    </div>

</div>
{% endblock %}