{% extends 'icoach-base.html' %}
{% load staticfiles %}

{% block banner %}
<div id='banner-container'>
  {% include 'partials/icoach-slider.html' %}
</div>
{% endblock %}

{% block content %}
<div class='coach-content'>
  <h1 class='text-center' style='color: #6E0012;'><strong>Consulting</strong></h1>
  <span class='welcome-msg'>
    As your educational consultant, I am here to help you address the educational needs of your child(en). In the areas overall guidance, developing strong IEPs, or providing a helping handing through the process of transition we are here to help.
  </span>
  <div class='transition-site'>
    <a href='/resources/#agencies'>
      <h1 class='text-center'>Transition Resource Site</h1>
    </a>
    <p class='text-center'>
      Here is a helpful resource page that will provide resources, insight, guidance to the transition process in areas such as career, education and training, independent living skills, community agencies, and more. Please click <a href='/resources/#agencies'>here</a> to explore more details.
    </p>
  </div>

  
  <h1 class='text-center' style='color: #6E0012;'>Publications</h1>
  <p class='text-center'>
    Please click on the publication title that you wish to view in detail.
  </p>
  {% for publication in publications %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          {% if publication.url %}
            <a href='{{publication.url}}' target='_blank'>{{publication.title}}</a>
          {% else %}
            {{publication.title}}
          {% endif %}
        </strong>
      </div>
      <div class="panel-body">
        <img src="/media/{{publication.cover}}" alt="class name" />
        <p>
          <strong>Publisher: </strong>
          {{publication.publisher}}
        </p>
        <p>
          <strong>Date: </strong>
          {{publication.date|date:'M, Y'}}
        </p>
        <p>
          <strong>Description: </strong>
          {{publication.description}}
        </p>
      </div>
    </div>
  {% endfor %}
  
</div>  
{% endblock %}