@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:100;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_ultralight.woff") format("woff"), url("../fonts/myriad-set-pro_ultralight.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:100;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_ultralight-italic.woff") format("woff"), url("../fonts/myriad-set-pro_ultralight-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 100';
	src:url("../fonts/myriad-set-pro_ultralight.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:200;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_extrathin.woff") format("woff"), url("../fonts/myriad-set-pro_extrathin.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:200;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_extrathin-italic.woff") format("woff"), url("../fonts/myriad-set-pro_extrathin-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 200';
	src:url("../fonts/myriad-set-pro_extrathin.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:300;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_thin.woff") format("woff"), url("../fonts/myriad-set-pro_thin.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:300;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_thin-italic.woff") format("woff"), url("../fonts/myriad-set-pro_thin-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 300';
	src:url("../fonts/myriad-set-pro_thin.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:400;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_text-italic.woff") format("woff"), url("../fonts/myriad-set-pro_text-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:500;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_medium.woff") format("woff"), url("../fonts/myriad-set-pro_medium.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:500;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_medium-italic.woff") format("woff"), url("../fonts/myriad-set-pro_medium-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 500';
	src:url("../fonts/myriad-set-pro_medium.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:600;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_semibold.woff") format("woff"), url("../fonts/myriad-set-pro_semibold.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:600;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_semibold-italic.woff") format("woff"), url("../fonts/myriad-set-pro_semibold-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 600';
	src:url("../fonts/myriad-set-pro_semibold.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:700;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold.woff") format("woff"), url("../fonts/myriad-set-pro_bold.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:700;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold-italic.woff") format("woff"), url("../fonts/myriad-set-pro_bold-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 700';
	src:url("../fonts/myriad-set-pro_bold.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:800;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold.woff") format("woff"), url("../fonts/myriad-set-pro_bold.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:800;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold-italic.woff") format("woff"), url("../fonts/myriad-set-pro_bold-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 800';
	src:url("../fonts/myriad-set-pro_bold.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:900;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold.woff") format("woff"), url("../fonts/myriad-set-pro_bold.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:italic;
	font-weight:900;
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_bold-italic.woff") format("woff"), url("../fonts/myriad-set-pro_bold-italic.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro 900';
	src:url("../fonts/myriad-set-pro_bold.eot");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:400;
	src:url("../fonts/myriad-set-pro_text.eot");
	src:local('â˜ºï¸Ž'), url("../fonts/myriad-set-pro_text.woff") format("woff"), url("../fonts/myriad-set-pro_text.ttf") format("truetype");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}
