html,
body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
}

#body {
    font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    quotes: "“" "”";
    width: 100%;
    min-height: 100%;
    color: #101010;
    background-color: #eee;
    padding: 0 0 500px 0;
}


/*
HEADER
*/

#header {
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: black;
    opacity: .8;
    padding: 0 20px;
    z-index: 99999999;
}

.logo {
    height: 100%;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

#header .logo,
#header .inav {
    display: inline-block;
}

#header .inav {
    height: 100%;
    min-width: 200px;
    position: absolute;
    float: right;
}

.inav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.inav ul li {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    line-height: 100px;
    cursor: pointer;
}

.inav a {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.inav li:hover a {
    color: #569bb6;
}

.page-content {
    width: 100%;
    max-width: 1200px;
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.page-content h1 {
    color: #0d506b;
    text-transform: capitalize;
}

.heading {
    color: #0d506b;
    text-transform: capitalize;
}

.page-content .section {
    margin-bottom: 20px;
}

span.title {
    display: block;
}

span.description {
    display: block;
    padding-left: 20px;
    text-align: justify;
}

#banner-container {
    width: 100%;
}

#banner-container>img {
    width: 100%;
    height: auto;
}

.panel-heading {
    color: #555 !important;
    background: #d4bc51 !important;
    text-transform: capitalize;
}

.panel-body img {
    float: left;
    padding: 0 20px;
}

.panel-body ul {
    margin: 0;
}

.album {
    width: 100%;
    display: block;
    height: 250px;
    margin-bottom: 20px;
    position: relative;
}

.album a {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.album-front {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
}

.album-front img {
    width: 100%;
    height: 100%;
}

.album-title {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.icoach-table-headers {
    border: 1px solid #ddd;
    background-color: white;
    color: black;
    padding: 0 5px;
    font-size: 1vw;
}

td,
th {
    display: table-cell;
    vertical-align: inherit;
}

th {
    border: 1px solid black !important;
}

.icoach-table {
    border-collapse: collapse;
}

th input[type='text'] {
    width: 100%;
}

.panel-heading a {
    color: #555;
}

.transition-site {
    border: 1px solid #555;
    border-radius: 20px;
}

#gallery {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background: black;
}

.inner {
    width: 80%;
    height: 80%;
    padding-top: 5%;
    margin: auto;
    overflow: hidden;
}

.inner ul {
    height: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
    white-space: nowrap;
    transition: left .5s ease;
    -webkit-transition: left .5s ease;
    -moz-transition: left .5s ease;
    -ms-transition: left .5s ease;
    -o-transition: left .5s ease;
}

.inner ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.inner ul li img {
    width: 100%;
    height: auto;
}

.page-content .idream-connect {
    width: calc(100% - 350px);
    float: left;
    padding-left: 20px;
}

.page-content .idream-sidenav {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    float: right;
    height: 100%;
    margin-right: 20px;
    padding: 0;
}

.idream-sidenav #social-div {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

#social-div {
    height: 250px;
    overflow: hidden;
}

.btn-hot {
    color: #fff;
    background-color: #db5566;
    border-bottom: 2px solid #af4451;
}

.btn-hot:active,
.btn-hot.active {
    color: #fff;
    background-color: #c04b59;
    border-top: 2px solid #9a3c47;
    margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}