{% load staticfiles %}
<div class='footer-col'>
	<div class='footer-col-content'>
		<div id='facebook-feed'>
			<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Flifecoachk&width=300&height=260&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=360" scrolling="yes" frameborder="0" allowtransparency="true" height="260">
			</iframe>
		</div>
	</div>
</div>

<div class='footer-col'>
	<div class='footer-col-content'>
		<span class='title'>Connect with Coach K</span>
		<div class='clear'></div>
		<div class='info'>
			<ul id='social-medias'>
				<li><a href='#'><i class='fa fa-facebook'></i></a></li>
				<li><a href='#'><i class='fa fa-twitter'></i></a></li>
				<li><a href='#'><i class='fa fa-linkedin'></i></a></li>
				<li><a href='#'><i class='fa fa-instagram'></i></a></li>
			</ul>
			<p class='h4'>Newsletter Sign-Up</p>
			<p class='small'>Want to be up to date with <strong>iCoach</strong>?</p>
			<p class='small'>Subscribe today to hear the latest from <strong>iCoach</strong></p>
			<a class='btn btn-subscribe'>subscribe</a>
		</div>
	</div>
</div>

<div class='footer-col'>
	<div class='footer-col-content'>
		<div id='facebook-feed'>
			 <a class="twitter-timeline" href="https://twitter.com/4LifeCoachK" data-widget-id="739207680942739458">Tweets by @4LifeCoachK</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</div>


