{% load staticfiles %}

<div class='row services'>
	{% for tile in tiles %}
	<div id='service-wrapper'>
		<a class='h3'>{{tile.title}}</a>
		<p>{{tile.description}}</p>
		<div class='service-btn-container'>
			<a href='{{tile.url}}' class='btn btn-default service-btn'>read more</a>
		</div>
	</div>
	{% endfor %}
</div>
