{% load gravatar %}
<div class='review'>
	<div class='review-user'>
		{% gravatar review.email 150 %}
	</div>
	<div class='review-note'>{{review.message}}</div>
	<div class='review-author'>
		{{review.author}} | {{review.city}} {{review.state}}
	</div>
</div>