{% load staticfiles %}
<div id='nav-wrapper'>
    <div id='nav-logo-row'>
        <a href='/icoach'><img src="{% static 'images/logos/icoach-logo.png' %}" /></a>
    </div>
    <nav id='icoach-nav' role='navigation'>
        <ul>
            <li><a href='/icoach'>home</a></li>
            <li><a href='/icoach/empowering-you'>empowering you</a></li>
            <li><a href='/icoach/educational-consulting'>educational consulting</a></li>
            <li><a href='/icoach/blogs'>blogs</a></li>
            <li><a href='/icoach/medias'>media</a></li>
            <li><a href='/icoach/rares-reviews'>raves & reviews</a></li>
            <li><a href='/icoach/connect'>Connect</a></li>
        </ul>
        <a id="hamburger">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </a>
    </nav>
</div>