<div class='cmt-form-container'>
  <form id='cf'>{% csrf_token %}
    <h4>leave a review</h3>
    <div id='input-group'>
      <label for='author'>Name* </label>
      <input type='text' name='author' id='author' required>
    </div>
    <div id='input-group'>
      <label for='city'>City* </label>
      <input type='text' name='city' id='city' required>
    </div>

    <div id='input-group'>
      <label for='state'>State* </label>
      <input type='text' name='state' id='state' required>
    </div>

    <div id='input-group'>
      <label for='email'>Email* </label>
      <input type='text' name='email' id='email' required>
    </div>

    <div id='input-group' class='comment-container'>
      <textarea name="comment" id='comment'></textarea>
    </div>
    <div id='btn-container'>
      <a href='javascript: post_review()' class='btn btn-submit' type='submit'>post review</a>
    </div>
 
    <div class='message-error'></div>
  </form>
</div>