/*****************
* BLOG CSS
*****************/

.bw {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
}

.bw>p.h3 {
    color: black;
}

.bw>.iw {
    width: 100%;
    display: block;
}

.iw>img {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
}

.bw>.desc {
    width: 80%;
    display: block;
    margin: auto;
    color: black;
}

.desc>p {
    /*font-size: 13px;
  line-height: 22px;*/
    color: rgba(0, 0, 0, 0.70);
    /*font-family: Georgia, Times, "Times New Roman", serif;*/
}

.bw>.bl-btn-wrap {
    width: 100%;
    height: 40px;
    margin: 10px auto;
    padding: 0;
}

.bl-btn-wrap {
    text-align: center !important;
}

.btn-readmore {
    width: 80%;
    height: 38px;
    padding: 0;
    margin: 0;
    line-height: 38px;
    text-transform: uppercase;
    border: 1px solid #ddd;
    border-radius: 0;
    color: gray;
    outline: none;
}

.btn-readmore:hover,
.btn-readmore:active,
.btn-readmore:focus,
.btn-readmore .active {
    background: none;
    color: #6E0012;
    border: 1px solid #6E0012;
    text-decoration: underline;
}

.btn-readmore:after {
    content: '\00a0\00bb';
    font-size: 1.2em;
}

.bw>.s-medias {
    width: 100%;
    display: block;
    height: 40px;
    margin: 40px auto;
}

.s-medias>ul {
    padding: 0;
    margin: 0;
    display: block;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.s-medias>ul>li {
    display: inline-block;
    margin: 0 10px;
    height: 40px;
    width: 40px;
    list-style: none;
}

.s-medias>ul>li>a>i {
    color: gray;
}

.s-medias>ul>li:hover>a>i {
    color: #6E0012;
}


/**************
* Blog comment
***************/


/* .bw * {
  font-weight: normal;
  color: black;
} */

.bw .cmt-wrapper {
    width: 100%;
    display: block;
    padding: 50px 20px;
}

.cmt-wrapper>h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.bt>.cmt-form-container {
    width: 100%;
    display: block;
}

#cf {
    width: 100%;
    text-align: left;
}

#cf>h4 {
    text-transform: uppercase;
    color: gray;
}

#input-group {
    width: 100%;
    min-height: 40px;
    padding: 0;
    line-height: 38px;
    margin-bottom: 20px;
}

#input-group>label {
    padding-right: 20px;
    font-weight: lighter;
    width: 100px;
}

#input-group>label.error {
    width: 100%;
    font-size: 0.8em;
}

#input-group>input[type='text'] {
    width: 300px;
    height: 38px;
    outline: none;
    padding-left: 10px;
}

#input-group.comment-container {
    min-height: 150px;
    width: 100%;
}

#input-group>textarea {
    height: 150px;
    width: 100%;
    resize: none;
    border: 1px solid #DDD;
    outline: none;
    padding: 10px;
}

#btn-container {
    width: 100%;
    display: block;
    text-align: left;
    height: 40px;
    margin-bottom: 10px;
}

#btn-container>.btn-submit {
    height: 40px;
    border: 1px solid #DDD;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    color: #666;
    background: #eee;
}

.btn-submit:hover {
    background: #6E0012 !important;
    color: #eee !important;
}

.cmt-subscription {
    width: 100%;
}

.cmt-subscription>input {
    margin-right: 10px;
}

.cmt-subscription>label {
    font-weight: lighter;
    font-size: 0.8em;
    color: gray;
}

.error {
    color: red;
}

p.error {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

#cmt-list {
    min-height: 100px;
    width: 100%;
    padding-left: 100px;
    background-image: url(../images/icons/user.png);
    background-size: 80px 80px;
    background-position: left top;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

#cmt-list>.cmt-header {
    height: 30px;
    text-align: left;
    text-transform: uppercase;
}

.cmt-header>a.author {
    color: black;
}

.cmt-header>a:hover {
    text-decoration: underline;
}

.cmt-date {
    font-size: 0.8em;
    color: gray;
}

.cmt-content,
.cmt-website {
    text-align: left;
}

.cmt-website {
    font-size: 0.8em;
}

.cmt-website>a {
    color: gray;
}

.description {
    overflow-wrap: break-word;
}


/**************
* End Blog comment
***************/

#calendar table {
    width: 100%;
}

#calendar table tr th {
    text-align: center;
    font-size: 16px;
    background-color: #316497;
    color: #99ccff;
}

#calendar table tr td {
    width: 10%;
    border: 1px solid #555;
    vertical-align: top;
    height: 40px;
    padding: 2px;
}

#calendar td.noday {
    background-color: #eee;
}

#calendar td.filled {
    background-color: #99ccff;
}

#calendar td.today {
    background: #6E0012;
    color: white;
}

#calendar .dayNumber {
    font-size: 16px !important;
    font-weight: bold;
}

#calendar a {
    font-size: 10px;
}