/******************
* GENERIC HADRON BTN
******************/
.clear {clear: both;}
.btn-subscribe {
	background: none;
	border: 1px solid gray;
	margin-top: 10px;
	text-transform: uppercase;
	color: gray;
}

.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe:active,
.btn-subscribe.active{
	background: none;
	border: 2px solid white;
	color: white;
	box-shadow: none;
}


