.marg-20{margin-bottom: 20px;}

.hadron-input-container{
	min-height: 60px;
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
	position: relative;
}

.hadron-input-container>label{
	height: 20px;
	width: 100%;
	display: block;
	line-height: 20px;
	padding: 0;
	margin: 0;
	color: #000;
	font-weight: 200;
	font-size: 0.7em !important;
	position: absolute;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hadron-input-container>input[type='text'],
.hadron-input-container>input[type='email'],
.hadron-input-container>input[type='number'],
.hadron-input-container>select{
	outline: none;
	height: 40px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ddd;
	display: block;
	padding: 0 0 0 10px;
	line-height: 38px;
	color: black;
	font-size: 1.1em;
	position: absolute;
	top: 20px;
	background: transparent;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hadron-input-container>input[type='text']:focus,
.hadron-input-container>input[type='text']:focus,
.hadron-input-container>input[type='number']:focus,
.hadron-input-container>select:focus{
	border-bottom: 1px solid #6E0012;
}
.empty{
	font-size: 1.3em !important;
	top: 30px;
	padding-left: 10px !important;
	opacity: 0.5;
}

.input-error{
	border-bottom: 2px solid red !important;
}

.hadron-input-container>select{
	outline: none;
}

.hadron-input-container>textarea{
	margin-top: 20px;
	width: 100%;
	max-width: 100%;
	min-height: 200px;
	font-size: 1.2em;
	outline: none;
}

.hadron-input-container>textarea:focus{
	border: 1px solid #6E0012;
}

.hadron-text-right{
	text-align: right;
}

.hadron-btn {
	height: 40px;
	padding: 0 20px;
	margin: 0;
	border: 1px solid gray;
	text-transform: uppercase;
	line-height: 40px;
	background: none;
}

.hadron-btn:hover{
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background-position: 0px !important;
}


.hadron-btn:hover{
	background: none;
	border: 2px solid gray;
}

.hadron-btn-learn-more {
	height: 35px !important;
	line-height: 35px;
}

.btn-white {
	color: gray;
	border-color: white;
	background: white;
	font-weight: 400;
}

.btn-white:hover {
	border-color: gray !important;
	background: #eee;
}

input[type='radio'] {
	margin-right: 20px;
}
.hadron-input-container input[type='checkbox']{
	margin: 0 20px 0 0;
}

#btn-upload {
  border: 1px solid black;
  width: 100px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 12px;
  padding: 0;
  text-transform: capitalize;
  background: none;
  color: black;
}

#file {
	display: none;
}

.hadron-input-container a {
  font-weight: bold !important;
  cursor: pointer;
}

.feature-container {
	width: 100%;
	max-width: 1100px;
	padding: 0 20px;
	display: block;
	margin: auto;
}

.feature-box {
	width: 350px;
	height: 200px;
	padding: 0 12px;
	float: left;
	margin: 20px 0 30px;
}

.feature-box-inner {
	width: 300px;
	display: block;
	height: 200px;
	margin: auto;
	position: relative;
}

.feature-box-inner .front-box,
.feature-box-inner .back-box {
	width: 100%;
	height: 100%;
	position: absolute;
}

.front-box img {
	width: 100%;
	height: auto;
}


.back-box {
	background-color: #67b7e1;
	color: white;
}

.back-box p{
	text-align: center;
	overflow: hidden;
	height: 130px;
	text-overflow: ellipsis;
	margin: 15px 10px;
}

.back-box span{
	text-align: center;
	display: block;
}

.feature-box{
	perspective: 1050px;
}

.feature-box:hover .feature-box-inner, 
.feature-box.hover .feature-box-inner{
	transform: rotateY(180deg);
}

.feature-box-inner{
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front-box, .back-box {
	backface-visibility: hidden;
}

.front-box {
	z-index: 2;
	transform: rotateY(0deg);
}

.back-box {
	transform: rotateY(180deg);
}

@media only screen and (min-width: 1090px){
	.feature-container {
		padding: 0;
	}

	.section-title {
		font-size: 2em;
	}
}

@media only screen and (max-width: 1089px){
	.feature-container {
		padding: 0;
	}

	.feature-container>.feature-box {
		width: 50% !important;
	}

	.section-title {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 678px){
	.feature-container {
		padding: 0;
	}

	.feature-container>.feature-box {
		width: 100% !important;
	}

	.section-title {
		font-size: 1.3em;
	}
}

.panel-heading a {
	color: white;
	cursor: pointer;
}

.panel-body{
	transition: all 0.5s;
}

.panel-body.visible {
	height: 0 !important;
	min-height: 0 !important;
	padding: 0 !important;
	overflow: hidden;
}

input[type='radio']{
	margin-left: 20px;
	margin-right: 5px;
}

ul.no-bullets {
	list-style: none;
}

select {
	margin-right: 10px;
}


