html,
body {
    height: 100%;
    width: 100%;
    line-height: 22px;
    background: #eee;
}

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-size: 100%;
}

body {
    font-family: "helvetica neue", "Helvetica", arial, sans-serif;
    font-size: 15px;
    background: #eee font-weight: normal;
    color: gray;
}


/***********************
 * BANNER CSS
 ***********************/

#banner-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

#banner-container>img {
    width: 100%;
    height: auto;
}

.pad-50 {
    padding-bottom: 50px;
}

.services {
    text-align: left;
    padding-left: 20px;
}

@media all and (max-width: 660px) {
    .services {
        text-align: center;
    }
}


/**********************
  * GENERAL ARTICLE DISPLAY
  **********************/

.page-container {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    display: block;
    text-align: center;
}

.page-content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1900px;
}

#main-content {
    width: calc(100% - 220px);
    margin: 0;
    float: left;
    min-height: 300px;
}

#service-wrapper {
    width: 300px;
    height: 200px;
    border: 1px solid #9c1a52;
    background-color: #6E0012;
    text-align: left !important;
    color: white;
    margin-bottom: 50px;
    padding: 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.service-btn-container {
    position: absolute;
    bottom: 10px;
    width: 280px;
    height: 30px;
    text-align: right;
}

.service-btn-container a {
    height: 100%;
    border: 2px solid gray;
    text-transform: uppercase;
    line-height: 20px;
    padding: 5px 10px;
}

a {
    outline: none;
    text-decoration: none;
    color: #6E0012;
}

a:hover {
    color: red;
}

a.h3 {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

a.h3:hover {
    color: #eee;
}

#service-wrapper p {
    text-align: justify;
}

.btn-container {
    display: block;
    width: 100%;
    text-align: right;
}

.service-btn {
    background: none;
    border: 1px solid gray;
    color: gray;
}

.service-btn:hover {
    background: none;
    border-color: white;
    color: white;
}

.magictime {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@media all and (max-width: 1200px) {
    aside#sidebar {
        display: none;
    }
    #main-content {
        width: 100%;
        text-align: left;
    }
    .page-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/******
* EMPOWERING YOU PAGE
*******/

.education-content {
    width: 100%;
    min-height: 200px;
    margin-bottom: 50px;
    border: 1px solid red;
    text-align: left;
}

.transition-site {
    width: 100%;
    min-height: 200px;
    border: 1px solid #6E0012;
    text-align: left;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 20px;
}


/******
*  MEDIAS
******/

.media-slider {
    width: 100%;
    height: 400px;
    border: 1px solid red;
    margin-top: 60px;
}

.media-section {
    width: 100%;
    text-align: left;
}

.media-section h1.title {
    display: block;
    text-align: center;
    border-bottom: 1px solid #999;
    text-transform: capitalize;
    margin-right: 0;
}

.media-item {
    height: 300px;
    width: 31%;
    float: left;
    border: 1px solid #999;
    margin: 0 1% 50px 0.8%;
    overflow: hidden;
}

@media all and (max-width: 678px) {
    .media-item {
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        float: none;
    }
    #main-content {
        text-align: center !important;
        display: block;
        margin: auto;
    }
}

.media-item .img-wrapper {
    display: block;
    height: 70%;
    width: 100%;
}

.img-wrapper img {
    height: 100%;
    width: auto;
    margin: auto;
}

.media-item .media-info {
    display: block;
    width: 100%;
    height: 30%;
    background-color: white;
    padding: 0 5px;
}

.media-info .media-title {
    display: block;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: black;
}

.media-item .media-description {
    width: 100%;
}

.full-width-media-centered {
    width: 100%;
    text-align: center;
    min-height: 300px;
}

.half-width-center {
    width: 50% !important;
    display: block;
    margin: auto;
    float: none !important;
}

@media all and (min-width: 300px) and (max-width: 800px) {
    .half-width-center {
        width: 100% !important;
    }
}


/***************
* RAVES AND REVIEW
******************/

#main-content.rare-reviews {
    text-align: left !important;
}

.rare-reviews .welcome-msg {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.reviews-wrapper {
    width: 100%;
    display: block;
}

.review-user {
    width: 100px;
    height: 100px;
    border-radius: 75px;
    border: 1px solid #999;
    overflow: hidden;
    margin: 0 auto;
}

.review {
    margin-bottom: 30px;
}

.rare-reviews * {
    color: black;
}

.review-user img {
    width: 100%;
    height: 100%;
}

.review-note {
    width: 100%;
    padding: 0 20px;
}

.review-note {
    quotes: "“" "”" "‘" "’";
}

.review-note:before {
    content: open-quote;
    font-size: 2em;
    color: #6E0012;
}

.review-note:after {
    content: close-quote;
    font-size: 2em;
    color: #6E0012;
}

.review-author {
    quotes: "~~" "~~" "~" "~";
}

.review-author:before {
    content: open-quote;
}

.review-author:after {
    content: close-quote;
}

.review-author {
    width: 100%;
    display: block;
    text-align: center;
    color: #6E0012;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.coach-content {
    width: 100%;
    min-height: 500px;
    padding: 30px 0;
    text-align: left !important;
    color: black;
}

.welcome-msg {
    text-align: center;
    font-size: 1.5em;
    display: block;
    line-height: 150%;
}

.cursive {
    font-style: cursive !important;
}

.coack-color {
    color: #6E0012 !important;
}

.block-info {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #6E0012;
    margin: 20px 0;
    border-radius: 20px;
}

.block-info .block-title {
    display: block;
    color: #6E0012;
}

.block-info .block-text {
    display: block;
    padding-left: 20px;
    margin-bottom: 30px;
}

.panel-heading {
    background-color: #6E0012 !important;
    color: white !important;
    text-transform: capitalize;
}

.panel-body {
    min-height: 200px;
}

.panel-body img {
    width: 200px;
    height: 150px;
    float: left;
    margin: 0 10px 10px;
}

.text-justify {
    text-align: justify;
}

a.icoach-btn {
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: gray;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none;
}

a.icoach-btn:hover {
    border: 1px solid #6E0012;
    color: #6E0012;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
}

.modal-header {
    height: 50px;
    background-color: #6E0012;
    color: white;
    margin: 0;
}

.modal-footer {
    height: 50px;
    background-color: #6E0012;
    color: white;
    text-align: right;
    padding-right: 20px;
}

.white {
    color: white !important;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icoach-table-headers {
    border: 1px solid #ddd;
    background-color: #6E0012;
    color: white;
    padding: 0 5px;
    font-size: 10px;
}

td,
th {
    display: table-cell;
    vertical-align: inherit;
}

th {
    border: 1px solid black !important;
}

.icoach-table {
    border-collapse: collapse;
}

th input[type='text'] {
    width: 100%;
}