.clear{clear: both;}

#header *{
	font-weight: 600;
}

#header {
	height: 200px;
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
}

#nav-wrapper {
	height: 200px;
	width: 100%;
}

#nav-logo-row{
	height: 200px;
	width: 100%;
}

#nav-logo-row img {
	display: block;
	height: 100%;
	width: auto;
	margin: auto;
}

#icoach-nav {
	min-height: 50px;
	width: 100%;
	border-bottom: 1px solid gray;
	position: relative;
	background: #6E0012;
	transition: top 1s;
}

#icoach-nav.fixed {
	position: fixed;
	top: 0;
	z-index: 10;
}

#icoach-nav>ul{
	min-height: 50px;
	width: 100%;
	margin: 0;
	text-align: center;
}

#icoach-nav>ul>li {
	list-style: none;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	padding: 0 10px;
	margin: 0;
}

#icoach-nav>ul>li:last-child{
	margin-right: 0;
}

#icoach-nav>ul>li>a {
	color: gray;
}

#icoach-nav>ul>li:hover,
#icoach-nav>ul>li.active{background: #A61A32;}
#icoach-nav>ul>li:hover>a,
#icoach-nav>ul>li.active>a{color: white;}


#hamburger {
   border: 1px solid #999;
   display: block;
   width: 40px;
   padding: 2px;
   display: none;
   position: absolute;
   right: 20px;
   margin: 0;
   bottom: 5px;
}
#hamburger span {
   background: #999;
   display: block;
   height: 3px;
   margin: 5px 0;
}

.ham-top {
	top: 5px;
	height: 35px;
}

#hamburger.open span.top-bar{
	transform: rotate( 45deg );
	top: 7px;
}

#hamburger.open span.middle-bar{
	opacity: 0;
}

#hamburger.open span.bottom-bar {
	transform: rotate( -45deg );
	top: -7px;
}

#hamburger {
   overflow: hidden;
}
#hamburger span {
   position: relative;
   transform: rotate( 0 );
   top: 0;
   left: 0;
   opacity: 1;

   transition: none 0.5s ease;
   transition-property: transform, top, left, opacity;
}
@media all and (max-width: 980px){
	#icoach-nav>ul{display: none;}
	#hamburger {display: block;}
	#icoach-nav>ul{
		padding-top: 48px;
		position: relative;
		background: white;
		opacity: 0.8;
	}
	#icoach-nav>ul>li {
		width: 100%;
		height: 40px;
		display: block;
		line-height: 38px;
	}
}


/**********************
 * FOOTER CSS HERE
 **********************/
.quote:before {
	content: '\201C';
	font-size: 1.5em;
}
.quote:after {
	font-size: 1.5em;
	content: '\201D';
}

#footer {
	min-height: 300px;
	width: 100%;
	display: block;
	text-align: center;
	border-top: 1px solid black;
	background: #6E0012;
	color: white;
}

#footer>.footer-col{
	display: inline-block;
	height: 280px;
	width: 400px
}

#footer .footer-col-content{
	width: 350px;
	height: 100%;
	display: block;
	padding: 20px;
	position: relative;
	overflow-y: hidden;
}

.footer-col-content>img.footer-logo{
	width: auto;
	height: 150px;
	display: block;
	margin: auto;
}

.footer-col-content>p.logo-caption {
	text-align: left;
	position: absolute;
}

.footer-col-content>span.title{
	font-size: 16px;
	text-transform: uppercase;
	height: 50px;
	position: absolute;
	display: block;
	width: calc(100% - 40px);
	text-align: center;
	
}


.footer-col-content>ul{
	display: block;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 40px;
	width: calc(100% - 40px);
}

.footer-col-content>ul>li{
	list-style: none;
	height: 30px;
	line-height: 30px;

}

.footer-col-content>ul>li>a{
	text-transform: capitalize;
	color: gray;
}

.footer-col-content>ul>li:hover>a{
	color: white;
	text-decoration: underline;
}

.footer-col-content>.info {
	position: absolute;
	top: 70px;
	width: calc(100% - 40px);
}

.info>p {
	display: block;
	width: 100%;
	text-align: center;
}

#social-medias {
	height: 30px;
	width: 100%;
	margin: 0;
	display: block;
}

#social-medias i {
	font-size: 1.3em;
}

#social-medias>li{
	list-style: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0;
}

#social-medias>li>a {
	height: 28px;
	width: 28px;
	margin: 0;
	padding: 0;
	color: gray;
}

.info>p.small {
	line-height: 20px;
	margin: 0;
}

#social-medias>li:hover>a {
	color: black;
}
#social-medias>li:last-child{
	margin-right: 0;
}

#footer #facebook-feed {
	height: 260px;
	overflow: hidden;
	padding: 0;
}

#facebook-feed>iframe{
	overflow: hidden;
	border:none; 
	overflow:hidden; 
	width:100%; 
	height:250px; 
	background: white; 
	float:left; 
}

@media all and (max-width: 1619px){
	.footer-col{
		width: 32% !important;
		display: inline-block !important;
	}

	.footer-col>.footer-col-content {
		display: block;
		margin: auto;
	}
}

@media all and (max-width: 889px){
	.footer-col{
		width: 100% !important;
		display: block !important;
		margin-bottom: 20px;
	}

	.footer-col>.footer-col-content {
		display: block;
		margin: auto;
	}
}

@media all and (max-width: 420px){
	.footer-col>.footer-col-content {
		width: 100% !important;
	}
}