aside#sidebar{
  width: 200px;
  float: right;
}

#citem{ width: 100%; }
#citem>h4{
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
}

#instafeed img {
  width: 100%;
  height: auto;
  padding-top: 50px;
}