{% extends 'idream.base.html' %}
{% load staticfiles %}
{% block banner %}
<div id='banner-container'>
  <img class='islide' src="{% static 'idream/images/slider/slide1.png' %}">
</div>
{% endblock %}
{% block content %}
<div class='page-content'>
  <h2 class='heading'><strong>Project Dream</strong></h2>
  <p>
  It’s always been a passion of our Founder, Coach K to help, cultivate, and empower the lives of young people. With a huge heart, she doesn’t want to limit herself to just those youth in her local area but to broaden her area and help and impact the lives young people across the world. Project dream is about helping the dreams of our youth become a reality by any means necessary. Just recently, we donated books and supplies to the Fatima & Khadija Memorial Library in Mombasa, Kenya where those two youth died at a young age at the hands of Diabetes and High Blood pressure, so this library was built in their honor. We also donated toiletries, clothes, and other products to a community group and orphanage in Nairobi and Mombasa, Kenya. More projects are on the way will you help us make other youths dreams come true!
  </p>
  <br><br>
  <div>
    <h2 class='heading'><strong>BR4ND (Building a Reputation for Nurturing Development)</strong></h2>
    <p>
      We are all responsible for and capable of helping the minds of our youth… the next person to reach out to and positively impact the life of another. This capability reaches beyond just the youth and into the lives of people we meet, advise, mentor, and with whom we interact. BR4ND is more than a name or catchy slogan…it is a lifestyle.
    </p>
    <br>
    <p>
      Founder and Professional Basketball player, Cavell Johnson has always had a passion for speaking and working with youth, providing support and encouragement, in addition to using his gift in sports to connect and mentor youth. His idea is simply “…we are our own brand and we share our brand with the world through how we impact those around us. A portion of the proceeds will go to youth sports and mentoring organizations.
    </p>
  </div>  

</div>
{% endblock %}