{% extends 'idream.base.html' %}
{% load staticfiles %}

{% block content %}
<div class='page-content'>
  <h1>iDream Academy</h1>
  <p style='font-size: 1.5vw;'>
    Looking for ways to empower your child, youth ministry, or youth organization? Check out the programs we offer. 
  </p>
  <br><br>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Pathways to Transition</strong></div>
    <div class="panel-body">
      <img src="{% static 'images/banners/transition.jpg' %}" alt="class name" />
      <ul>
        <li>Goal setting and Problem Solving.</li>
        <li>Life after high school.</li>
        <li>Let’s make a deal.</li>
        <li>Got skills.</li>
        <li>Living a balanced life</li>
        <li>Financial Literacy</li>
        <li>Transition</li>
        <li>Vocational skills</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Vision With A Twist</strong></div>
    <div class="panel-body">
      <img src="{% static 'images/banners/vision-twist.jpg' %}" alt="class name" />
      Vision board parties for youth and adults to help outline and clarify your dreams and goals in order to help them become a reality.
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Transition Resources</strong></div>
    <div class="panel-body">
      <a href='/resources#agencies'>
        <img src="{% static 'iresources/images/logo/logo.jpeg' %}" alt="class name" />
      </a>
      A helpful resource page that will provide resources, insight, guidance to the transition process in areas such as career, education and training, independent living skills, community agencies, and more. <strong>Please click image to explore more details.</strong>
    </div>
  </div>
</div>
{% endblock %}