{% extends 'idream.base.html' %} {% load staticfiles %} {% block content %}
<div class='page-content'>
    <div class='idream-connect'>
        <h1 class='text-center' style='text-transform: none;'>Thank you for connecting with iDream Academy!</h1>
        <p class='text-center' style='font-size: 1.3vw;'>
            From our hearts to yours, We truly appreciate each and every opportunity we get to connect with you. We would like to thank you for your participation in this workshop. In an effort to improve our events as well as overall growth, please take a moment
            to complete this evaluation. Your feedback is always welcomed as we aspire to be more effective in our charge to impact lives.
        </p>
        <br><br>
        <strong><h4 class='text-center'>
      Please click on the title of the form that you wish to complete.
    </h4></strong>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><a onclick='toggle_body("#workshop-evaluation")' style='color: #555;'>Workshop Evaluation</a></strong>
            </div>
            <div class="panel-body visible" id='workshop-evaluation'>
                <form id='workshop-evaluation'>
                    <table cellpadding="1" cellspacing="0" class='icoach-table' width="100%">
                        <tbody>
                            <tr>
                                <th class='icoach-table-headers'>Ratings</th>
                                <th class='icoach-table-headers'>Poor</th>
                                <th class='icoach-table-headers'>Fair</th>
                                <th class='icoach-table-headers'>Average</th>
                                <th class='icoach-table-headers'>Good</th>
                                <th class='icoach-table-headers'>Very Good</th>
                                <th class='icoach-table-headers'>Excellent</th>
                                <th class='icoach-table-headers'>Comments</th>
                            </tr>
                            {% for question in workshops %}
                            <tr>
                                <th class='icoach-table-headers'>{{question}}</th>
                                <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='0'></th>
                                <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='1'></th>
                                <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='2'></th>
                                <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='3'></th>
                                <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='4'></th>
                                <th><input type='radio' name='workshop-evaluation{{forloop.counter}}' id='e{{forloop.counter}}' value='5'></th>
                                <th><input type='text' id='e{{forloop.counter}}' width="100%"></th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table><br> {% for question in evaluations %}
                    <div class='hadron-input-container'>
                        <label for='spouse'>{{question}}</label>
                        <textarea name="evaluation{{forloop.counter}}"></textarea>
                    </div>
                    {% endfor %}
                    <p class='pull-right'>
                        <a onclick='submit_form("workshop-evaluation")' class='icoach-btn'>Submit</a>
                    </p>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><a onclick='toggle_body("#contact-coachK")' style='color: #555;'>Contact iDream</a></strong>
            </div>
            <div class="panel-body visible" id='contact-coachK'>
                <form>
                    <div class='hadron-input-container'>
                        <label for='name'>Name* </label>
                        <input type='text' name='name' id='name' required>
                    </div>
                    <div class='hadron-input-container'>
                        <label for='email'>Email </label>
                        <input type='email' name='email' id='email' required>
                    </div>
                    <div class='hadron-input-container'>
                        <label for='subject'>Subject </label>
                        <input type='text' name='subject' id='subject' required>
                    </div>
                    <div class='hadron-input-container'>
                        <label for='name'></label>
                        <textarea name="question" id='question' required></textarea>
                    </div>
                    <p class='pull-right'>
                        <a onclick='evaluate_result("#coachingForU")' class='icoach-btn'>Submit</a>
                    </p>
                </form>
            </div>
        </div>
        <br><br>
        <div class='transition-site'>
            <a href='/resources/#agencies'>
                <h1 class='text-center'>Upcoming Events</h1>
            </a>
        </div>
    </div>
    <div class='idream-sidenav'>
        <div id='social-div'>
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FIdream4lifeacademy-813086855434273&width=250&height=260&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=360" scrolling="yes" frameborder="0"
                allowtransparency="true" height="260">
      </iframe>
        </div>
        <div id='social-div'>
            <a class="twitter-timeline" style='height: 300px; overflow: hidden;' href="https://twitter.com/search?q=dream4lifemedia" data-widget-id="762825628236124162">Tweets about dream4lifemedia</a>
            <script>
                ! function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0],
                        p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
            </script>
        </div>
        <div id="social-div">
            <!-- LightWidget WIDGET -->
            <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/cd36c077b26e5ce680aa0b0b67466d89.html" id="lightwidget_cd36c077b2" name="lightwidget_cd36c077b2" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
    </div>
    <div class='clear'></div>
</div>
{% endblock %}