{% extends 'idream.base.html' %} {% load staticfiles %} {% block banner %}
<div id='banner-container'>
    {% include 'partials/idream.slider.html' %}
</div>
{% endblock %} {% block content %}
<div class='page-content'>
    <h1>{{title}}</h1>
    <p>
        Giving a donation of any amount helps to provide resources and equipment for our programs, enables us to meet the needs of youth and families in need, as well as allows us to create more books and music to empower and educate our youth. As a sponsored
        member, you are recognized at all of our events, discounts are given on merchandise, in addition to quarterly newsletters to stay informed of our organization.
    </p>
    <p>
        Your sponsorship and donations are greatly appreciated and will allow us to continue to help and empower our youth across the world.
    </p>
    <div class='donation'>
        <p>
            <strong>
        Your sponsorship and donations are greatly appreciated and will allow us to continue to help and empower our youth across the world.
      </strong>
        </p>
        <div class='inner-donation'>
            <ul>
                <li>iDream (One- time)</li>
                <li>iDream for Tomorrow (Monthly)</li>
                <li>iDream for the Future (Annual)</li>
                <li>iDream for Life (Lump sum)</li>
            </ul>
        </div>
        <p>
            <strong>
        All members will receive a 10% discount on retail purchases, special programming, and events. Our quarterly newsletter will keep members informed and involved. 
      </strong>
        </p>
    </div>

    <div class="text-center">
        <a type="button" class="btn btn-hot text-uppercase btn-lg" href='https://www.paypal.me/idream4life' target='new'>Donate <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>

    </div>
</div>
{% endblock %}