{% extends 'idream.base.html' %} {% load staticfiles %} {% block banner %}
<div id='banner-container'>
    {% include 'partials/idream.slider.html' %}
</div>
{% endblock %} {% block content %}
<div class='page-content'>
    <div class='section'>
        <span class='title'><strong>What's IDream?</strong></span>
        <span class='description'>
      iDream was created to remind our youth to DREAM inspite of their obstacles or surrounding environments. It was created as a mantra, motto, a lifestyle because so many have forgotten to dream due to their circumstances, others dreams have faded away, while others simply don’t dream at all----it’s a statement of purpose and empowerment,
    </span>
    </div>

    <div class='section'>
        <span class='title'><strong>Our Mission</strong></span>
        <span class='description'>
      <strong>iDream</strong> is a non-profit organization whose mission is to cultivate dreams that transform lives while empowering you with essential tools to create your own relevant story. The mission is easily communicated and accepted throughout the company because it allows the teams to freely express their creative ideas in order to bring the children’s story to life establishing excitement, creativity, and passion. By fulfilling our mission we will provide the opportunity for everyone involved to take part in creating an elaborate story from
    </span>
    </div>

    <div class='section'>
        <span class='title'><strong>We provide</strong></span>
        <span class='description'>
      <ul>
        <li>
          A high- quality Entertainment & Media educational program and curriculum to students to help them grow and develop their skills, gifts, and talents.
        </li>
        <li>
           Mentoring program using sports and the performing arts as an avenue to connect with them and broaden their horizons.
        </li>
        <li>
          Workshops that focuses on the development of independent living  and transferable vocational skills in addition to the information and resources necessary for the transition process.
        </li>
        <li>
          Empower youth through continuous missions and outreach endeavors to aid in their individual development in order to see their dreams manifest.
        </li>
      </ul>
    </span>
    </div>
</div>
{% endblock %}