{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="icon" href="{% static 'idream/images/logo/logo.jpg' %}" type="image/x-icon" />
        <title>iDream | {{title}}</title>

        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

        <!-- font awesome -->
        <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/magic.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/apple.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'idream/css/apple.font.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ninja-slider.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'idream/css/idream.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'idream/css/flexslider.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hadron-input.css' %}">
        <script>
            function lightbox(idx) {
                //show the slider's wrapper: this is required when the transitionType has been set to "slide" in the ninja-slider.js
                var ninjaSldr = document.getElementById("ninja-slider");
                ninjaSldr.parentNode.style.display = "block";

                nslider.init(idx);

                var fsBtn = document.getElementById("fsBtn");
                fsBtn.click();
            }

            function fsIconClick(isFullscreen) { //fsIconClick is the default event handler of the fullscreen button
                var ninjaSldr = document.getElementById("ninja-slider");
                ninjaSldr.parentNode.style.display = isFullscreen ? "block" : "none";
            }
        </script>
    </head>

    <body id='body'>
        {% include 'partials/idream.navigation.html' %} {% block banner %}{% endblock %} {% block content %}{% endblock %}
        <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js" type="text/javascript"></script>
        <script src="{% static 'js/resizeSensor.js' %}" type="text/javascript"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
        <script src="{% static 'js/slider.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/ninja-slider.js' %}" type="text/javascript"></script>
        <script src="{% static 'idream/js/idream.functions.js' %}" type="text/javascript"></script>
        <script src="{% static 'idream/js/idream.main.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jspdf.min.js' %}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>
        <script src="{% static 'js/icoach-function.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'js/tiny_mce.js' %}"></script>
    </body>

</html>