{% extends 'idream.base.html' %}
{% load staticfiles %}
{% block content %}
<div class='page-content media'>
  {% for album in albums %}
  <div class='col-md-4 col-sm-6 col-xs-12'>
    <div class='album'>
      <div class='album-front'>
        <a onclick='display_album("{{album.title}}")'>
          <img src='{{album.front_page}}'>
        </a>
      </div>
      <div class='album-title'><strong>{{album.title}}</strong></div>
    </div>
  </div>
  {% endfor %}
  <div class='gallery-wrapper'></div>
</div>
{% endblock %}