{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="icon" href="{% static 'images/logos/icoach-logo.png' %}" type="image/x-icon" />
    <title>icoach | {{title}}</title>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/apple.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hadron-widgets.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
  </head>
  <body>
    
    <div id='body'>
    
      <div id='header'>{% include 'partials/icoach-navigation.html' %}</div>
      <div class='page-container'>
        {% block banner %}{% endblock %}
       	<div class='full-page'>
        	{% block content %}{% endblock %}
        </div>
	    </div>
	    <div id='footer'>
	        {% include 'partials/icoach-footer.html' %}
	      </div>
    </div>
    <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/icoach-function.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/icoach-main.js' %}" type="text/javascript"></script>
    
  </body>
</html>