<h1 class='title'><strong>BHA</strong></h1>
<h2 class='text-center'>Behavioral Health Administration</h2>
<p class='text-center'>
  The Mental Hygiene Administration (MHA) is an administrative organization within the Maryland Department of Health and Mental Hygiene (DHMH). MHA’s mission is to create and manage a coordinated, comprehensive, accessible, culturally sensitive, and age-appropriate system of publicly funded services and supports for individuals who have psychiatric disorders and, in conjunction with stakeholders, provide treatment and rehabilitation in order to promote resiliency, health, and recovery. At the local level MHA has Core Service Agencies to assist children and adults.
</p>

<p class='text-center'>For more information please click the link <a href='http://bha.dhmh.maryland.gov/SitePages/Home.aspx' target='_blank'>BHA</a></p>

<p class='text-center'>If your interested in BHA services, you can check out this provider</p>
<p class='text-center small'>
   Often families in MCPS are referred to Cornerstone Montgomery, if the student is in 11th or 12th grade.  Cornerstone Montgomery has a program called the Career Transition Program. Click the link for information about their programs 
</p>

<p class='text-center'>
  <a href='http://cornerstonemontgomery.org/programs/vocational/career-transition-program' target='_blank'>
    Cornerstone Montgomery Career Transition Program.
  </a>
</p>

<p class='text-center small'>If a student is referred to Cornerstone, they must have a mental health diagnosis.</p>

<p class='text-center small'>
  If you have a student that is under 18, contact 
  <a href='https://www.montgomerycountymd.gov/HHS-Program/staticpages/CSAStatic-P248.html' target='_blank'>Montgomery County Core Service Agency Behavioral Health & Crisis Services.</a>
</p>

<p class='text-center'>
<a href='https://www.montgomerycountymd.gov/HHS-Program/Program.aspx?id=BHCS/BHCSChildAdolMentalHealth-p471.html' target='_blank'>Child & Adolescent Mental Health Program</a></p>
