<h1 class='title'><strong>Career Exploration</strong></h1>
<p class='h4'>
	Know your dream job? Or are you not sure what you want to do? Either way, it’s a good idea to do some research! There are many good sites to help you explore different jobs.
</p>

<div class='section'>
	<span class='section-title'>Career Assessments:</span>
	<span class='section-text'>
		<p>
			<ul>
				<li><a href='http://www.cacareerzone.org/index.html' target='_blank'>California Career Zone (Career Assessment and reality check)</a></li>
				<li><a href='http://www.careerexplorer.net/aptitude.asp' target='_blank'>Career Explorer .Net (Career Aptitude Test)</a></li>
				<li><a href='http://www.careerinfonet.org/skills/default.aspx?nodeid=20' target='_blank'>Career One-Stop (Skills Profiler)</a></li>
				<li><a href='http://www.livecareer.com/free-online-career-test' target='_blank'>LiveCareer .Com (Career Aptitude Test)</a></li>
				<li><a href='http://www.princetonreview.com/career-search' target='_blank'>Princeton Review Career Quiz</a></li>
				<li><a href='http://www.quintcareers.com/career_assessment.html' target='_blank'>QuintCareers.com list of career assessment tools and tests</a></li>
				<li><a href='http://career.missouri.edu/career-interest-game' target='_blank'>University of Missouri Career Interests Game</a></li>
			</ul>
		</p>
	</span>
</div>


<div class='section'>
	<span class='section-title'>Career Exploration:</span>
	<span class='section-text'>
		<ul>
			<li><a href='http://www.asvabprogram.com/' target='_blank'>ASVAB Career Exploration Program</a></li>
			<li><a href='http://www.careeronestop.org/StudentsandCareerAdvisors/StudentsandCareerAdvisors.aspx?frd=true' target='_blank'>Career One-Stop, career exploration workshop</a></li>
			<li><a href='http://www.driveofyourlife.org/launch.html' target='_blank'>Drive of Your Life, career exploration game</a></li>
			<li><a href='http://www.jobhuntersbible.com/' target='_blank'>Job Hunter’s Bible, What color is your parachute, extensive number of resources</a></li>
			<li><a href='http://www.mappingyourfuture.org/' target='_blank'>Mapping your future career exploration, preparing for college, financing college, etc.</a></li>
			<li><a href='https://www.mynextmove.org/' target='_blank'>My Next Move</a></li>
			<li><a href='http://www.onetonline.org/' target='_blank'>O-Net career exploration </a></li>
			<li><a href='http://dors.maryland.gov/crps/Documents/PETS_Factsheet.pdf' target='_blank'>P.E.T.S- A new career exploration program provided by DORS for students with ANY disability, age of 14 and up that are still in secondary school</a></li>
		</ul>
	</span>
</div>


<div class='section'>
	<span class='section-title'>Helpful Career documents</span>
	<span class='section-text'>
		<p>
			<ul>
				<li><a href='https://westbrooktransition.files.wordpress.com/2015/02/cwonders_be_prepared.pdf' target='_blank'>Be Prepared</a></li>
				<li><a href='http://www.dol.gov/odep/topics/youth/softskills/softskills.pdf' target='_blank'>Skills to Pay the Bills</a></li>
			</ul>
		</p>
	</span>
</div>

