{% load staticfiles %}
<h1 class='title'><strong>Careers</strong></h1>
<div class='img-wrapper'>
	<img src="{% static 'iresources/images/careers.jpg' %}" />
</div>
<h4 class='text-center'>
	With so many careers to choose from, you may wonder what is the best fit for me. Where do I search for jobs? How do I prepare for interviews? Here you'll find the answers to those questions and more.
</h4>

<div class='section'>
	<span class='section-title'>Areas of focus:</span>
	<span class='section-text'>
		<p>
			<ul>
				<li>Career Exploration</li>
				<li>Job Search</li>
				<li>Job Skills</li>
				<li>Interview Skills</li>
			</ul>
		</p>
	</span>
</div>
<h4>Check out the <a href='https://www.youtube.com/user/TheNYTC' target='_blank'>"Work Early, Work Often"</a> video series  </h4>