{% load staticfiles %}
<h1 class='title'><strong>Self Determination</strong></h1>
<div class='img-wrapper'>
	<img src="{% static 'iresources/images/community-services.jpg' %}" />
</div>
<p class='text-center'>
	Community service is an opportunity for students to give back, make connections, learn and develop skills that are transferable in an academic, work, and social setting.
</p><br>
<p>
	Most school districts require students to complete community service hours (also known as student service learning- SSL). You'll find the necessary forms for your school district as well as suggestions for possible community service opportunities.
</p>