<h1 class='title'><strong>Disctrict of Columbia</strong></h1>

<p class='text-center'>
  The Department on Disability Services (DDS) provides the residents of the District of Columbia with information, oversight and coordination of services for people with disabilities and those who support them, such as service providers and employers. DDS supports the District’s Disability Determination Division where Social Security Disability Insurance claims determinations are processed.
</p>

<p class='text-center'>
  Two Administrations oversee and coordinate services for residents with disabilities through a network of private and non-profit providers:
</p>

<p class='text-center'>Developmental Disabilities Administration (<a href='' target='_blank'>DDA</a>)</p>
<p class='text-center'>Rehabilitation Services Administration (<a href='' target='_blank'>RSA</a>)</p>