<h1 class='title'><strong>DDA</strong></h1>

<p class='text-center'>
  The Developmental Disabilities Administration (DDA) is an administrative organization within the Maryland Department of Health and Mental Hygiene (DHMH). DDA’s mission is to provide leadership to assure the full participation of individuals with developmental disabilities and their families in all aspects of community life. In addition, DDA's goal is to promote their empowerment to access quality supports and services necessary to foster personal growth, independence, and productivity.
</p>

<p class='text-center'>
  DDA funds employment, day, residential and support services for people with developmental disabilities. In order for DDA to determine whether a person is eligible for services, the person or someone acting on their behalf must complete an application for DDA services. For more details on the application process, including how to apply and the face-to-face interview, click on link
</p>

<div class='ul-div'>
  <ul>
    <li><a href='http://dda.dhmh.maryland.gov/SitePages/apply.aspx' target='_blank'>How to apply for DDA services</a></li>
    <li><a href='http://dda.dhmh.maryland.gov/SitePages/Developments/Dec2012/dda_ea_application.pdf' target='_blank'>Link to Online Application</a></li>
  </ul>
</div> 

<p class='text-center'>For more information, please visit <a href='http://dda.dhmh.maryland.gov/SitePages/Home.aspx' target="_blank">DDA website</a></p> 


