<h1 class='title'><strong>DDA and RSA</strong></h1>

<div class='faq'>
  <p class='question'>The DDA ensures that residents with intellectual disabilities receive the services and supports they need to lead self-determined and valued lives in the community. DDA delivers:
</p>
  <p class='answer'>
    <ul>
      <li>Outreach and service coordination services;</li>
      <li>Development and management of a provider network delivering community residential, day, vocational, employment and individual and family support services; </li>
      <li>Operation of a comprehensive quality management program.</li>
    </ul>
  </p>
</div>

<div class='faq'>
  <p>
    The RSA focuses on employment, ensuring that persons with disabilities achieve a greater quality of life by obtaining and sustaining employment, economic self-sufficiency and independence. RSA achieves this through:
  </p>
  <p class='answer'>
    <ul>
      <li>Employment marketing and placement services,</li>
      <li>Vocational rehabilitation,</li>
      <li>Inclusive business enterprises</li>
      <li>Support of the DC Center for Independent Living</li>
    </ul>
  </p>
</div>

<p>For more information, click the link <a href='http://dds.dc.gov/page/dds-who-we-are' target='_blank'>DDS</a></p>
<p class='text-center'><a href='http://dds.dc.gov/service/how-apply-rsa-services' target='_blank'>How to apply for RSA</a></p>
<p class='text-center'><a href='http://dds.dc.gov/page/dda-provider-services' target='_blank'>DDA Services</a></p>





