<h1 class='title'><strong>DORS</strong></h1>
<h2 class='text-center'>Divisopn of Rehabilitation Services</h2>
<div class='faq'>
	<p class='question'>What is DORS?</p>
	<p class='answer'>
		DORS provides programs and services that help people with disabilities go to work.
		This includes students with disabilities in their last two years of high school. 
		A DORS counselor is assigned to every public high school in Maryland.
	</p>
</div>
<div class='faq'>
	<p class='question'>Who is eligible for DORS?</p>
	<p class='answer'>
		<ul>
			<li>
				Students with an IEP,504 plan, or significant health condition may be eligible for
				<strong>DORS</strong> services. This includes those with physical, emotional, 
				cognitive, sensory, or learning disabilities that impact working.
			</li>
			<li>Students eligible for SSH and SSGI</li>
			<li>Students eligible for DDA or BHA long-term supports.</li>
		</ul>
	</p>
</div>
<div class='faq'>
	<p class='question'>DORS Services</p>
	<p class='answer'>
		<ul>
			<li>Job search, placement & job- keeping services</li>
			<li>Supported employment</li>
			<li>Job Coaching</li>
			<li>Career decision making</li>
			<li>Counseling & referral</li>
			<li>Technical/ vocational training</li>
			<li>Assistance with higher education</li>
			<li>Job preparation</li>
			<li>Assistive technology</li>
		</ul>
	</p>
</div>
<div class='faq'>
	<p class='question'>What is the process for <strong>DORS</strong>?</p>
	<p class='answer'>
		<ol>
			<li>
				Complete an online referral at 
				<a target='_blank' href='http://dors.maryland.gov/consumers/Pages/referral.aspx'>
					http://dors.maryland.gov/consumers/Pages/referral.aspx
				</a>
				or contact the <strong>DORS</strong> office nearest your home.
			</li>
			<li>
				<strong>DORS</strong> rehabilitation counselor will tell you if you are eligible
				for services and will collect all evaluation and reports to better understand your
				strength and abilities.
			</li>
			<li>
				If you are eligible, your counselor will work with you so you can prepare for employment. Together you will develop a Individualized Plan for Employment (IPE) that will outline the steps needed to reach your goal.
			</li>
			<li>
				Working in close collaboration with your counselor, you will take part in services outlined in your IPE and begin to look for work.  After you start working, your DORS counselor will follow up with you for several months until you are settled into your new job.
			</li>
		</ol>
		<p>
			For more information you can call <a href='tel:18885540334'>1.888.554.0334</a> or visit 
			<a href='http://www.dors.state.md.us' target='_blank'>www.dors.state.md.us</a>
		</p>
	</p>
</div>
	
