<h1 class='title'><strong>The Experiences</strong></h1>
	<h4>Here you will find helpful information and resources to help you navigate through the education and training experience.</h4>
<div class='section'>
	<span class='section-title'></span>
	<span class='section-text'>
		<p>
		  <ul>
		  	<li><a href='https://www.understood.org/en/school-learning/choosing-starting-school/leaving-high-school/tips-for-talking-to-your-child-about-college' target='_blank'>5 Tips to Talking to your Child Realistically about College</a></li>
			<li><a href='http://www.going-to-college.org/' target='_blank'>Going to College: A Resource for teens with disabilities</a></li>
			<li><a href='https://studentaid.ed.gov/sa/sites/default/files/college-prep-checklist.pdf' target='_blank'>Federal Student Aid Kit: College Preparation Checklist</a></li>
			<li><a href='https://studentaid.ed.gov/sa/fafsa/filling-out/fsaid?utm_content=sf42091089&utm_source=facebook&utm_medium=spredfast&utm_campaign=Federal&sf42091089=1' target='_blank'>Questions about Financial Aid (FAFSA) and the Federal Student Aid (FSA) ID</a></li>
			<li><a href='https://westbrooktransition.files.wordpress.com/2015/05/final_transition_high-school_to_collegemay2016smact.pdf' target='_blank'>High School to College Transition Presentation</a></li>
			<li><a href='https://westbrooktransition.files.wordpress.com/2015/05/navigatingcollegehandbook.pdf' target='_blank'>Navigating College Handbook</a></li>
			<li><a href='https://westbrooktransition.files.wordpress.com/2015/02/open-letter-to-parents-with-disabilities-about-to-enter-college.pdf' target='_blank'>Open Letter to Parents of Students with Disabilities About to Enter College</a></li>
			<li><a href='http://heath.gwu.edu/' target='_blank'>The Heath Resource Center</a></li>
			<li><a href='http://dcps.dc.gov/service/postsecondary-and-career-education' target='_blank'>DC Postsecondary and Career Education</a></li>
		</ul>
		</p>
	</span>
</div>