{% load staticfiles %}
<h1 class='title'><strong>Independent Living</strong></h1>
<div class='img-wrapper'>
	<img src="{% static 'iresources/images/financial-lit.jpg' %}" />
</div>

<h2 class='text-center'>Resources</h2>
<h4 class='text-center'><a href='https://westbrooktransition.files.wordpress.com/2015/02/cwonders_budget.pdf' target='_blank'>Monthly Budget</a></h4>
<h4 class='text-center'><a href='http://www.nasddds.org/uploads/documents/Financial_Education_Booklet.pdf' target='_blank'>Cents & Sensibility: A Guide to Money Management for People with Disabilities</a></h4>