{% load staticfiles %}
<h1 class='title'><strong>Independent Living</strong></h1>
<div class='img-wrapper'>
	<img src="{% static 'iresources/images/guardianship.jpg' %}" />
</div>

<h4>
	Here is some helpful information regarding the topic of guardianship in general and your specific state.
</h4>

<h4 class='text-center'><a href='http://www.aging.maryland.gov/egov/Documents/GuardianshipHandbookRev2011.pdf' target='_blank'>Guardianship and It's Alternatives (MD)</a></h4>
<h4 class='text-center'><a href='http://dcps.dc.gov/page/transfer-rights' target='_blank'>Transfer of Rights (DCPS)</a></h4>
<h4 class='text-center'><a href='http://www.vda.virginia.gov/pdfdocs/Guardbook.pdf' target='_blank'>Guardianship and Conservatorship in VA</a></h4>
<h4 class='text-center'><a href='https://westbrooktransition.files.wordpress.com/2015/03/guardianship-guide-1.pdf' target='_blank'>Guardianship Guide (in general)</a></h4>
<h4 class='text-center'><a href='https://westbrooktransition.files.wordpress.com/2015/03/ncsetparent_brief-_age_0f-_-majority-may02.pdf' target='_blank'>Parent Brief- Age of Majority</a></h4>
