{% load staticfiles %}
<h1 class='title'><strong>Independent Living</strong></h1>
<div class='img-wrapper'>
	<img src="{% static 'iresources/images/indep-living.png' %}" />
</div>
<p class='text-center h4'>
	Independent living does not necessarily mean living alone; it means
	organizing your life in such a way that you can maintain yourself
	professionally, financially, socially and emotionally.
</p>

<p class='text-center'>
	<h4 class='underline text-center'>Areas of focus</h4>
	<h4 class=' text-center'>Transportation</h4>
	<h4 class=' text-center'>Financial Literacy</h4>
	<h4 class=' text-center'>Guardianship</h4>
</p>