<h1 class='title'><strong>Interviews</strong></h1>
<h4>
	Going on an interview can be overwhelming because you may not know how to prepare, how to answers questions or what questions should you ask, and most importantly you want to leave a good impression. We've provided some helpful information on how to have a successful interview.
</h4>
<div class='section'>
	<span class='section-title'>Key Elements for a Successful Interview</span>
	<span class='section-text'>
		<ul>
			<li>Develop a well written resume that is current</li>
			<li>Do research on the company</li>
			<li>Know your interviewer's name(s), if possible</li>
			<li>
				Demonstrate confidence and enthusiasm
				<ul>
					<li>Firm handshake</li>
					<li>Eye contact</li>
					<li>Speak up (Do not use slang )</li>
					<li>Be polite (say "YES or NO sir and/ or ma'am")</li>
					<li>Smile (No gum or candy)</li>
				</ul>
			</li>
			<li>
				Preparation for the interview
				<ul>
					<li>Familiarize yourself with the area/ address and mode of transportation</li>
					<li>Rest well the night before</li>
					<li>
						Be prepared to answer these questions:
						<ul>
							<li>What position are you applying for?</li>
							<li>Why do you want to work that company?</li>
							<li>What are three of your strengths and weaknesses (areas of improvement)?</li>
							<li>How do you handle multiple tasks?</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				Dress for Success
				<ul>
					<li>Try to cover up any visible tattoos or piercings because some businesses do not allow them</li>
				</ul>
			</li>
			<li>Arrive on time</li>
		</ul>
			
	</span>
</div>