{% load staticfiles %}
<div id='header'>
	<div id='search-row'>
		<input type='text' id='q' >
		<button type='btn' class='btn-search' onclick='site_search()'>Search this site</button>
	</div>
	<div class='logo'>
		<a href='/resources/#agencies'>
			<img src="{% static 'iresources/images/logo/logo.jpeg' %}" alt="IResources">
		</a>
	</div>	
</div>