<h1 class='title'><strong>Jobs Search</strong></h1>

<div class='section'>
	<span class='section-title'>Looking for a job? Not sure where to look? There are many ways to start!</span>
	<span class='section-text'>
		<ul>
			<li>Talk to people you know! Ask them if they know of any job opportunities.</li>
			<li>Check the want ads in the newspaper.</li>
			<li>Visit the ... Career Center in person at ... or online at www....</li>
			<li>
				Check out these sites:
				<ul>
					<li><a href='http://www.careeronestop.org/jobsearch/findjobs/state-job-banks.aspx' target='_blank'>CareerOneStop</a></li>
					<li><a href='http://www.careerbuilder.com/' target='_blank'>Career Builder</a></li>
					<li><a href='http://www.indeed.com/jobs?chnl=Jobs-USA&utm_source=publisher&utm_medium=organic_listings&utm_campaign=affiliate' target='_blank'>Indeed .com</a></li>
					<li><a href='http://www.flipdog.com/' target='_blank'>Flip Job</a></li>
					<li><a href='http://www.jobs2careers.com/index1.php?c1=4&c2=0&c3=118&c4=119&c5=237&q=All&l=&matchtype=e&bmt=be&qs=hot%20jobs&kid=38501998622&adid=4255446975&device=c&utm_source=bing&utm_medium=cpc&utm_campaign=USA%20-%20GEN%20-%20BYS%20-%20237&utm_term=hot%20jobs' target='_blank'>Jobs2Careers</a></li>
					<li><a href='http://www.monster.com/' target='_blank'>Monster .com</a></li>
					<li><a href='http://www.jobbankusa.com/' target='_blank'>JobBank USA</a></li>
					<li><a href='http://www.myfuture.com/' target='_blank'>MyFuture .com</a></li>
					<li><a href='http://wetfeet.com/' target='_blank'>Wetfeet</a></li>
					<li><a href='http://www.idealist.org/' target='_blank'>Idealist</a></li>
					<li><a href='http://www.snagajob.com/' target='_blank'>Snagajob</a></li>
					<li><a href='http://www.gettinghired.com/' target='_blank'>Getting Hired</a></li>
				</ul>
			</li>
		</ul>
	</span>
</div>
<div class='section'>
	<span class='section-title'>Helpful Documents regarding employment</span>
	<span class='section-text'>
		<ul>
			<li><a href='https://westbrooktransition.files.wordpress.com/2015/02/disability-employment-acronyms-doc-2912.pdf' target='_blank'>Disability & Employment Acronyms & Terms</a></li>
		</ul>
	</span>
</div>