{% load staticfiles %}
<h1 class='title'><strong>Job Skills</strong></h1>
<div class='img-wrapper'>
	<img src="{% static 'iresources/images/job-skills.jpg' %}" />
</div>

<div class='section'>
	<span class='section-title'>Got skills?</span>
	<span class='section-text'>
		Have you ever wondered do I have what it takes to work somewhere? Well, this page will give you insight on what employers look for in a candidate in addition to help you become aware of the skills you possess.
	</span>
</div>

<div class='section'>
	<span class='section-title'>
		Here's a list of the Top Ten Critical Success factors that every employer looks for in a candidate:
	</span>
	<span class='section-text'>
		<ol>
			<li>Positive attitude toward work</li>
			<li>Proficiency in field of study</li>
			<li>Communication skills (verbal and written)</li>
			<li>Interpersonal skills</li>
			<li>Confidence</li>
			<li>Critical thinking and problem solving skills</li>
			<li>Flexibility</li>
			<li>Self- motivation</li>
			<li>Leadership</li>
			<li>Teamwork</li>
		</ol>
	</span>
</div>

<div class='section'>
	<span class='section-title'>Helpful documents regarding employable skills</span>
	<span class='section-text'>
		<ul>
			<li><a href='https://westbrooktransition.files.wordpress.com/2015/02/helping-youth-build-work-skills-for-job-success-tips-for-parents-and-families.pdf' target='_blank'>Helping Youth Build Work Skills for Job Success- Tips for Parents and Families</a></li>
			<li><a href='https://westbrooktransition.files.wordpress.com/2015/02/helping-youth-develop-soft-skills-for-job-success-tips-for-parents-and-families.pdf' target='_blank'>Helping Youth Develop Soft Skills for Job Success- Tips for Parents and Families</a></li>
			<li><a href='http://www.marquette.edu/csc/undergraduate/transferableskills.shtml' target='_blank'>Transferable Skills</a></li>
		</ul>
	</span>
</div>

<div class='section'>
	<span class='section-title'>Job Training, Supports, and Services</span>
	<span class='section-text'>
		<ul>
			<li><a href='http://www.montgomeryworks.org/' target='_blank'>Montgomery Works</a></li>
		</ul>
	</span>
</div>