{% load staticfiles %}
<h1 class='title'><strong>Post Secondary Education</strong></h1>
<div class='img-wrapper'>
	<img src="{% static 'iresources/images/lookingahead.jpg' %}" />
</div>
<div class='section'>
	<span class='section-title'>What is Post-Secondary Education?</span>
	<span class='section-text'>
		<p>
		  This refers to any education after high school and includes:
		  <ul>
		  	<li>College</li>
		  	<li>Trade School</li>
		  	<li>Adult Education</li>
		  </ul>
		</p>
		<p>Have some concerns about funding? Check out funding information.</p>
		<p><a href='http://www.washington.edu/doit/college-funding-students-disabilities' target='_blank'>College Funding for Students with Disabilities</a></p>

	</span>
</div>