<h1 class='title'><strong>Programs</strong></h1>
<h4>Here are some programs to get you started in your postsecondary education and training journey.</h4>
<div class='section'>
	<span class='section-title'>Montgomery College</span>
	<span class='section-text'>
		<p>
		  <ul>
		  	<li><a href='http://www2.montgomerycollege.edu/departments/wdce/brochures/gtp.pdf' target='_blank'>Graduate Transition Program</a> (Carla Neighbors)</li>
		  	<li><a href='http://www2.montgomerycollege.edu/departments/wdce/brochures/challengebrochure.pdf' target='_blank'>Challenge Courses</a></li>
		  </ul>
		</p>
	</span>
</div>

<div class='section'>
	<span class='section-title'><a href='http://www.projectsearch.us/OurPROGRAM/HighSchoolTransition.aspx' target='_blank'>Project Search</a></span>
	<span class='section-text'>
		<p>
		  <ul>
		  	<li><a href='http://www.seeconline.org/node/108' target='_blank'>Project Search Montgomery- Jobs and internships with NIH and the Smithsonian </a></li>
		  	<li><a href='http://www.ivymount.org/MultipleLearning.cfm?subpage=1818' target='_blank'>Project Search at Ivymount</a></li>
		  	<li><a href='http://dcps.dc.gov/page/project-search-service' target='_blank'>Project Search DC</a></li>
		  </ul>
		</p>
	</span>
</div>

<div class='section'>
	<span class='section-title'><a href='http://www.project-access.org/' target='_blank'>Project Access</a></span>
	<span class='section-text'>
		<p>
		  <ul>
		  	<li><a href='http://www.howardcc.edu/services-support/academic-support/disability-support-services/project-access/' target='_blank'>Project Access at Howard County Community College</a></li>
		  </ul>
		</p>
	</span>
</div>

<div class='section'>
	<span class='section-title'>George Mason University</span>
	<span class='section-text'>
		<p>
		  <ul>
		  	<li><a href='https://masonlife.gmu.edu/' target='_blank'>The Mason Life Program</a></li>
		  	<li><a href='http://www.poac-nova.org/newsmanager/news_article.cgi?news_id=20194&from_rss=1' target='_blank'>MASON AUTISM SUPPORT INITIATIVE (MASI)</a></li>
		  </ul>

		</p>
	</span>
</div>

<div class='section'>
	<span class='section-title'>University of the District of Columbia</span>
	<span class='section-text'>
		<p>
		  <ul>
		  	<li><a href='http://cc.udc.edu/' target='_blank'>UDC Community College</a></li>
		  	<li><a href='http://cc.udc.edu/wd' target='_blank'>UDC Community College Workforce Development</a></li>
		  </ul>
		</p>
	</span>
</div>

<p><a href='http://www.lynn.edu/' target='_blank'>Lynn University</a></p>
<p><a href='http://www.thamesacademy.org/' target='_blank'>Thames Academy at Mitchell College</a></p>
<p><a href='http://www.lesley.edu/threshold/' target='_blank'>Threshold Program at Lesley University</a></p>
<p><a href='http://www.riverviewschool.org/home' target='_blank'>Riverview School</a></p>
<p><a href='http://www.nyit.edu/vip/' target='_blank'>Vocational Independence Program at NYIT</a></p>
<p><a href='http://reach.cofc.edu/' target='_blank'>REACH Program at College of Charleston</a></p>
<p><a href='http://pslstrive.org/striveu' target='_blank'>StriveU</a></p>
<p><a href='http://www.dewv.edu/' target='_blank'>Davis & Elkins College</a></p>
<p><a href='http://www.wvwc.edu/' target='_blank'>West Virginia Wesleyan College</a></p>
<p><a href='http://www.sunflowerbakery.org/?page_id=145' target='_blank'>Sunflower Bakery</a></p>
<p><a href='http://www.marymount.edu/Academics/Services-Resources/Student-Access-Services' target='_blank'>Marymount University: Student Access Services</a></p>
<p><a href='http://www.nvcc.edu/workforce/' target='_blank'>Northern Virginia Community College (NOVA)- Workforce Development Division</a></p>
<p><a href='http://www.nl.edu/paceatnlu/' target='_blank'>P.A.C.E program at National Louis University</a></p>
<p><a href='http://www.bethanywv.edu/academics/learning-services/' target='_blank'>Program for Academic and Socal Success (PASS) at Bethany College</a></p>
<p><a href='http://beyondacademics.uncg.edu/' target='_blank'>Beyond Academics at UNCG</a></p>
<p><a href='http://www.horizonsschool.org/' target='_blank'>Horizons School</a></p>
<p><a href='http://collegesteps.org/' target='_blank'>College Steps</a></p>
<p><a href='http://discoverldi.com/' target='_blank'>Life Development Institute (LDI)</a></p>
<p><a href='http://experiencecle.com/' target='_blank'>College Living Experience (CLE)</a></p>
<p><a href='http://www.landmark.edu/' target='_blank'>Landmark College</a></p>
<p><a href='http://www.experienceoptions.org/' target='_blank'>OPTIONS Transitions to Independence</a></p>