<h1 class='title'><strong>Self-Disclosure</strong></h1>

<div class='section'>
	<span class='section-title'>Self- disclosure</span>
	<span class='section-text'>
		Self-disclosure is an approach to communication that involves sharing information about yourself, history, present, emotions and thoughts. As a person with a disability you can choose when to disclose your what your disability is, specific needs, requirements, and accommodations necessary to be successful at school, work, and the community.
	</span>
</div>

<h4>
	Click on the link to get the 
	<a href='http://www.ncwd-youth.info/sites/default/files/411_Disability_Disclosure_complete.pdf' target='_blank'>411 on Disability Disclosure</a>
</h4>