{% load staticfiles %}
<h1 class='title'><strong>Self Determination</strong></h1>
<div class='img-wrapper'>
	<img src="{% static 'iresources/images/self-determination.jpg' %}" />
</div>

<h4 class='text-center'>De·ter·mined - /di 'tərmind/</h4>
<p class='text-center h3'>
	<ol>
		<li>Having made a firm decision and being resolved not to change it.</li>
		<li>Processing or displaying resolve.</li>
	</ol>
</p>