<h1 class='title'><strong>Self-Advocate</strong></h1>

<div class='section'>
	<span class='section-title'>What is Self-Advocacy?</span>
	<span class='section-text'>
		Self-advocacy is the ability to speak-up for yourself and the things that are important to you. Self-advocacy means you are able to ask for what you need and want and tell people about your thoughts and feelings. Self-advocacy means you know your rights and responsibilities, you speak-up for your rights, and you are able to make choices and decisions that affect your life. The goal of self-advocacy is for YOU to decide what you want then develop and carry out a plan to help you get it. It does not mean you can’t get help if you need or want it, it just means that you are making the choices and you have to be responsible for the choices you make.
	</span>
</div>

<div class='section'>
	<span class='section-title'>Why is Self-Advocacy important?</span>
	<span class='section-text'>
		It is important to learn self-advocacy skills because it helps you decide what you want and what is possible for you to expect. When you have good self-advocacy skills you can have more control and make the life decisions that are best for you. Self-advocacy helps to empower you, to speak-up for yourself and make decisions about your life.
	</span>
</div>

<div class='section'>
	<span class='section-title'>Helpful links</span>
	<span class='section-text'>
		<ul>
			<li><a href='https://westbrooktransition.files.wordpress.com/2015/03/fostering_booklet.pdf' target='_blank'>Fostering Self- Determination</a></li>
			<li><a href='https://westbrooktransition.files.wordpress.com/2015/03/student_rights_brochure.pdf' target='_blank'>What are my Rights as a Student with Disabilities?</a></li>
			<li><a href='https://westbrooktransition.files.wordpress.com/2015/03/perc_sd_checklist.pdf' target='_blank'>PERC Self- Advocacy Checklist</a></li>
			<li><a href='https://westbrooktransition.files.wordpress.com/2015/03/hs-dream.pdf' target='_blank'>IM Determined Self- Advocacy Checklist (see page 5)</a></li>
		</ul>
	</span>
</div>