<h1 class='title'><strong>Social Security</strong></h1>

<div class='section'>
	<span class='section-title strong'>SSI? SSDI? SSA? What do all of these letters mean?</span>
	<p>Social Security can be confusing. Here’s a small breakdown:</p>
	<span class='section-text'>
		<p>
		  <ul>
		  	<li><strong>SSA = Social Security Administration</strong>: the federally funded program that administers SSI and SSDI
		  	</li>
		  	<li>
		  		<strong>SSI = Supplemental Security Income</strong>: a program administered by Social Security that pays a money payment to qualified recipients. One is eligible if s/he meet the disability definition AND is under 18 and the family meets the income requirements OR is 18 and individually meets the income requirements.<br>
		  		<p><a href='https://www.socialsecurity.gov/ssi/' target='_blank'>Find out more and see if you are eligible</a></p>
		  	</li>
		  	<li>
		  		<strong>SSDI = Social Security Disability Income</strong>: a program that pays a money payment to qualified recipients. One is eligible if s/he meet the disability definition and has sufficient work history.
		  	</li>
		  </ul>
		</p>

		<p>Helpful Links</p>
		<ul>
			<li>
				<a href='http://www.disabilitysecrets.com/' target='_blank'>Disability Secrets</a>: the purpose of this site is to distribute information that is typically impossible to get from the representative taking your claim for SSD and SSI benefits
			</li>
			<li>
				<a href='https://www.ssa.gov/disability/' target='_blank'>Social Security Website (Official)</a>: learn about the benefits for people with disabilities
			</li>
			<li>
				<a href='https://www.ssa.gov/redbook/eng/overview-disability.htm#a0=-1' target='_blank'>Social Security Disability Insurance vs. Supplemental Security Income</a>: learn about these programs and how they differ
			</li>
			<li>
				<a href='https://westbrooktransition.files.wordpress.com/2015/03/aianssavsssifinalrev.pdf' target='_blank'>Social Security and SSI: What's the difference?</a>
			</li>
			<li>
				<a href='https://www.ssa.gov/policy/docs/ssb/v73n3/v73n3p53.html' target='_blank'>Youth Transitioning out of Foster Care: An Evaluation of SSI Policy Change</a>
			</li>
			<li>
				<a href='https://www.socialsecurity.gov/oact/ssir/SSI14/SSAB_Statement.html' target='_blank'>SSI and Foster Care Programs</a>
			</li>
			<li>
				<a href='https://www.ssa.gov/ssi/spotlights/spot-disabled-youth.htm' target='_target'>Spotlight on SSI benefits for Disabled or Blind youth in Foster Care</a>
			</li>
			<li>
				<a href='https://www.ssa.gov/work/WIPA.html' target='_blank'>Work Incentive Planning and Assistance Program (WIPA)</a>: provide counseling and information to assist SSI and DI beneficiaries to understand and access work supports.
			</li>
			<li>
				<a href='https://www.ssa.gov/work/protectionadvocacy.html#&a0=-1' target='_blank'>Protection & Advocacy for Beneficiaries of Social Security (PABSS)</a>: Provide information, advice, advocacy, and legal aid to help secure employment.
			</li>
			<li>
				<a href='https://www.ssa.gov/redbook/' target='_blank'>The Redbook: A Guide to Work Incentives</a>
			</li>
			<li>
				<a href='http://www.chooseworkttw.net/findhelp/' target='_blank'>Ticket to Work</a>
			</li>
		</ul>
	</span>
</div>