<h1 class='title'><strong>Tips</strong></h1>

<div class='section'>
	<span class='section-title'>
		If you're in need of peer mentoring as a parent, contact <a href='http://www.seeconline.org/parent-to-parent-p2p' target='_blank'>Parent 2 Parent</a>
	</span>
	<span class='section-text'>
		<ul>
			<li>
				They provide free and confidential emotional support and resources to families of children with special needs.
			</li>
			<li>
				Donne Allen, P2P Program Coordinator (Phone) 240.485.9989 (Email) dallen@seeconline.org
			</li>
		</ul>

		<ul>
			Have questions about estate planning , contact 
			<a href='http://www.felintonlaw.com/' target='_blank'>Felinton Elder Law & Estate Planning Centers</a>
			<li>Mindy Felinton, Attorney (Phone) 301.610.0055</li>
		</ul>

		<ul>
			Have questions regarding special needs trust, contact 
			<a href='' target='_blank'>Shared Horizons</a>
			<li>
				They assist people with disabilities in accessing an affordable Special Needs Trust option that will protect their benefits while preserving their personal finances.
			</li>
			<li>
				Yolanda Mazyck, Executive Director (Phone) 202.448.1460 (Email) 
				<a href='mailto:info@shared-horizons.org'>info@shared-horizons.org</a>
			</li>
		</ul>

		<ul>
			Looking for an Advocate, contact <a href='http://bytheirside.org/' target='_blank'>By Their Side</a>
			<li>Advocates for Marylander with disabilities</li>
			<li>
				Kathy Vecchioni, Executive Director (Phone) 443.279.1234 (Email) info@bytheirside
			</li>
		</ul>

		<ul>
			Looking for free accessible Material for K-12 students in Virginia, contact 
			<a href='http://aimva.org/' target='_blank'>AIM-VA</a>
		</ul>

		<ul>
			Looking for an Educational Coach, contact 
			<a href='http://freetobecoaching.com/' target='_blank'>Free to be Coaching</a>

			<li>Facilitates growth in focusing, prioritizing, goal- setting, organizing, confidence building, and more</li> 
			<li>Neil Swanson (Phone) 703.509.5377 (Email) <a href='mailto:neil@freetobecoaching.com'>neil@freetobecoaching.com</a></li>
			<li>Linda Swanson (Phone) 703.508.4774 (Email) <a href='mailto:linda@freetobecoaching.com'>linda@freetobecoaching.com</a></li>
		</ul>
	</span>
</div>
