<h1 class='title'><strong>Transition Process</strong></h1>

<div class='section'>
	<span class='section-title'>High School Transition Planning Timeline</span>
	<span class='section-text'>
		The Individuals with Disabilities Education Act (IDEA) 2004 and the Maryland State Department of Education have both set out guidelines on the activities and timelines that IEP teams should follow to develop transition plans that help students meet their education and employment goals.
	</span>
	<ul>
		Age 14
		<li>
			Youth attends IEP meetings. The IEP should include the student's transition goals.
		</li>
	</ul>
	<ul>
		9th Grade (4 years prior to exit)
		<li>
			Review graduation requirements and complete career interest assessments; revise IEP as needed.
		</li>
		<li>
			Work with the transition coordinator to update the transition plan and work on transition activities.
		</li>
		<li>
			Ensure that the IEP addresses the acquisition of necessary life skill, especially when the high school offers appropriate courses such as budgeting and money management, technical education, or cooking.
		</li>
	</ul>
	<ul>
		10th Grade (3 years prior to exit)
		<li>
			Review graduation requirements and update career interest inventories; revise IEP as needed.
		</li>
		<li>
			Work closely with the transition coordinator to update the transition plan and work on transition activities.
		</li>
		<li>
			Ensure that the IEP addresses the acquisition of necessary life skill.
		</li>
	</ul>
	<ul>
		11th Grade (2 years prior to exit)
		<li>
			Review graduation requirements and complete career interest assessments; revise IEP as needed.
		</li>
		<li>
			Consider placement in a work-based learning program (see below)
		</li>
		<li>
			The IEP team or family should make a referral to DORS/ RSA (DC)/ DARS (VA), and a DORS counselor should attend the IEP meeting.
		</li>
		<li>
			Ensure that the IEP includes anticipated transition services, including Supplemental Security Income (SSI) benefits, higher education or career school support services, and Behavioral Health Administration (BHA) services, such as supported employment, psychiatric rehabilitation programs and residential rehabilitation programs.
		</li>
		<li>
			Consider applying for Project Access if you live in central Maryland.
		</li>
		<li>
			Visit any continuing education facility the student is considering attending, and talk to staff in the Disability Support Services office.
		</li>
	</ul>
	<ul>
		12th Grade (year of exit)
		<li>
			Maintain regular contact with DORS counselor.
		</li>
		<li>
			DORS should have examined documentation, performed assessments and determined eligibility status.
		</li>
		<li>
			Make sure the DORS counselor is invited to attend the IEP meeting.
		</li>
		<li>
			Review the Exit Document.
		</li>
		<li>
			Ensure that the IEP includes anticipated transition services.
		</li>
		<li>
			DORS counselor should make the outside referral to a supported employment provider and to the BHA as needed.
		</li>
		<li>
			Visit any continuing education facility that the student is considering attending, and talk to the staff in the Disability Support Services office.
		</li>
		<li>
			Visit the DORS Workforce Technology Center if the student is considering receiving any services there.
		</li>
		<li>
			Families should fill out the FAFSA (Free Application for Federal Student Aid).
		</li>
	</ul>
</div>