{% load staticfiles %}
<h1 class='title'><strong>Transportation</strong></h1>
<div class='img-wrapper'>
	<img src="{% static 'iresources/images/public-transit.jpg' %}" />
</div>
<h4><a href='http://cms.montgomerycollege.edu/wdce/bits/drivered.html' target='_blank'>Driver's education course for those with disabilities</a> (also see flyer below)
</h4>

<div class='section'>
	<span class='section-title'>Travel Training</span>
	<span class='section-text'>
		<p>
			<ul>
				<li><a href='http://www.wmata.com/accessibility/training.cfm' target='_blank'>WMATA</a></li>
				<li><a href='http://www.innow.org/travel.html' target='_blank'>Independence Now, Inc.- Montgomery County: 240.898.2188/ P.G. County: 240.898.2189</a></li>
			</ul>
		</p>
	</span>
</div>
<div class='section'>
	<span class='section-title'>Explore your Transportation Options</span>
	<span class='section-text'>
		<p>
			<ul>
				<li>
					Call Connect-A-Ride (CAR): a free information and referral service that helps adults with disabilities find transportation for medical services, errands, social activities, and more.
           			301.738.3252 or email connectaride@accessjca.org
           		</li>
           		<li>
					Transportation Network Directory for those with disabilities or call 240.777.1246
				</li>
				<li>
					Ride Metro bus and Ride On for FREE! Call 311 for Ride On and 202.637.7000 for Metro bus
				</li>
			</ul>
		</p>
	</span>
</div>

<div class='section'>
	<span class='section-title'>
		Those with disabilities ride free on Ride On and Metro Bus from 930 a.m. until 3:00 p.m., Monday- Friday.<br>
		<strong>You must have a valid Metro Disabled ID card</strong>
	</span>
	<span class='section-text'>
		<ul>
			<li>
				<a href='mailto:mcdot.cnrorder@montgomerycountymd.gov' target='_blank'>Call-n-Ride</a>: 
				provides discounted taxis for those with disabilities. Call 301.948.5409
			</li>
			<li>
				<a href='http://www.wmata.com/accessibility/metroaccess_service' target='_blank'>MetroAccess</a>: 
				available 7 days a week -Call 301.562.5360/ 800.523.7009 
			</li>
		</ul>
	</span>
</div>