<h1 class='title'><strong>Transition Calendar</strong></h1>

<div class='section'>
	<div class="panel panel-default">
	  <div class="panel-heading">Transition</div>
	  <div class="panel-body">
	  	<span class='section-title'>Transition</span>
	  	<span class='section-text'>
	  		Events from one or more calendars could not be shown here because you do not have the permission to view them.
	  	</span>
	  	<div style='width: 100%'>
	  		<iframe src="https://calendar.google.com/calendar/embed?src=hadron.tech_cebj4honp5dfvjai4e9pbofnk0%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	  	</div>
	  </div>
	</div>
</div>