<h1 class='title'><strong>Usefull Resources</strong></h1>

<div class='section'>
	<span class='section-title'></span>
	<span class='section-text'>
		<table style='width: 100%'>
			<tr>
				<th>Name</th>
				<th><strong>Description</strong></th>
			</tr>
			<tr>
				<th>
					<a href='http://heath.gwu.edu/' target='_blank'>Heath Center</a>
				</th>
				<th>
					The HEATH Resource Center at George Washington University is a web-based clearinghouse that serves as an information exchange of educational resources, support services and opportunities.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.mdtransition.org/' target='_blank'>Maryland Transition</a>
				</th>
				<th>
					Provides information and resources regarding the transition process
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://mdod.maryland.gov/Pages/Home.aspx' target='_blank'>Department of Disabilities</a>
				</th>
				<th>
					The mission of the Maryland Department of Disabilities (MDOD) is to advance the rights and interests of people with disabilities so they may fully participate in their communities. 
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.marylandpublicschools.org/MSDE/divisions/earlyinterv/' target='_blank'>Division of Special Education/Early Intervention Services</a>
				</th>
				<th>
					The Division of Special Education/Early Intervention Services (DSE/EIS) collaborates with families, local early intervention systems, and local school systems to ensure that all children and youth with disabilities have access to appropriate services and educational opportunities to which they are entitled under federal and state laws.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://mdod.maryland.gov/Pages/PageNotFoundError.aspx?requestUrl=http://mdod.maryland.gov/MTAP%20Home.aspx' target='_blank'>Maryland Technology Assistance Program</a>
				</th>
				<th>
					The Maryland Technology Assistance Program (MD TAP) provides assistive technology (AT) to help Marylanders with disabilities and seniors enjoy the same rights and opportunities as other citizens. The program provides a streamlined service of product information, consultation, and resource assistance in order to make assistive technology more available, affordable, and usable.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.montgomeryschoolsmd.org/departments/special-education/programs-services/transition-services-unit.aspx#resources' target='_blank'>Montgomery County Public School System Transition Department</a>
				</th>
				<th>
					Provides transition information, events, and resources for Montgomery County students.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://dcpstransition.com/' target='_blank'>DCPS transition website</a>
				</th>
				<th>
					Provides transition information, events, and resources for DC students.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://dctransition.org/' target='_blank'>DC Transition</a>
				</th>
				<th>
					Provides transition information, events, and resources for DC students.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://ossesecondarytransition.org/' target='_blank'>OSSE Transition website</a>
				</th>
				<th>
					Information and resources regarding self-determination, post-secondary education and training, employment, and community living. 
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.doe.virginia.gov/special_ed/transition_svcs/index.shtml' target='_blank'>Virginia Department of Education</a>
				</th>
				<th>
					VDOE's Transition Services website provides support, information and resources designed to improve the outcomes of students with disabilities in transition from middle / secondary education to postsecondary education and employment.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://novatransition.org/' target='_blank'>Northern Virginia Transition Coalition</a>
				</th>
				<th>
					The coalition promotes a bi-annual college and career fair, Future Quest, bringing together speakers, venders, and agencies related to transition. Topics include (but are not limited to) financial resources, accommodations, self-advocacy, assistive technology, disclosure of disability, college life, and career explorations.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://transitioncoalition.org/' target='_blank'>Transition Coalition</a>
				</th>
				<th>
					Resources for providing transition services to young adults with disabilities in secondary special education.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://idea.ed.gov/' target='_blank'>IDEA Website and Information	</a>
				</th>
				<th>
					This site is a "one-stop shop" for resources and information related to IDEA and its implementing regulations.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.nasetalliance.org/' target='_blank'>NASET Alliance</a>
				</th>
				<th>
					The National Alliance for Secondary Education and Transition (NASET) is a national voluntary coalition representing special education, general education, career and technical education, youth development, multicultural perspectives, and parents.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.hscfoundation.org/National_Youth_Transitions_Initiative' target='_blank'>National Youth Transition Center</a>
				</th>
				<th>
					The National Youth Transitions Initiative assists youth and young veterans with disabilities in creating and living a self-directed path to adulthood and employment.
				</th>
			</tr>

			<tr>
				<th>
					<a href='https://weconnectnow.wordpress.com/' target='_blank'>We Connect Now</a>
				</th>
				<th>
					We connect now is dedicated to uniting college students with disabilities in access to higher education and employment issues.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://transitionus.org/' target='_blank'>Transition United States</a>
				</th>
				<th>
					Transition US is a nonprofit organization that provides inspiration, encouragement, support, networking, and training for Transition Initiatives across the United States.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://pcr-inc.org/' target='_blank'>Potomac Community Resources</a>
				</th>
				<th>
					Potomac Community Resources, Inc. (PCR) provides therapeutic, recreational, social, and respite care programs for teens and adults with developmental differences, as well as information about community resources for families.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://pyln.org/pyln' target='_blank'>Pennsylvania Youth Leadership Network (PYLN) website</a>
				</th>
				<th>
					The PYLN is a team of youth leaders with disabilities from across Pennsylvania with a purpose to develop the self-determination, empowerment, and leadership of youth that promotes successful post school outcomes in the areas of education, employment, independent living, and health and wellness among youth and young adults throughout Pennsylvania.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://transition-guide-admin.s3.amazonaws.com/files/2012/07/17/PYLN%20Secondary%20Transition%20Toolkit.pdf' target='_blank'>PYLN Secondary Transition Toolkit</a>
				</th>
				<th>
					The Pennsylvania Youth Leadership Network (PYLN) has created secondary transition toolkit to assist youth in their transition into the adult world. The best thing about the toolkit is that it was written and designed by youth with disabilities who are members of the Pennsylvania Youth Leadership Network (PYLN) for youth. It can also be used with families and professionals as a youth-friendly Toolkit for transition.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://transition-guide-admin.s3.amazonaws.com/files/2012/07/17/PYLN%20Healthcare%20Toolkit.pdf' target='_blank'>PYLN Health Care Transition Toolkit</a>
				</th>
				<th>
					The Pennsylvania Youth Leadership Network (PYLN) has created secondary healthcare toolkit to assist youth in their transition into the adult world. The best thing about the toolkit is that it was written and designed by youth with disabilities who are members of the Pennsylvania Youth Leadership Network (PYLN) for youth. It can also be used with families and professionals as a youth-friendly toolkit for transition.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.thearc.org/' target='_blank'>The Arc</a>
				</th>
				<th>
					The Arc promotes and protects the human rights of people with intellectual and developmental disabilities. It provides programs, services, and employment opportunities.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.mctransitions.org/links' target='_blank'> MC Transitions Links</a>
				</th>
				<th>
					This page provides links that are the results of information gathered by members of MCTrans (MCTransitions.org), who are adults with differences, family members of adults with differences, professionals or advocates.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://thenytc.org/' target='_blank'>Youth Transitions Collaborative</a>
				</th>
				<th>
					The youth Transitions Collaborative is a community of organizations whose mission is to empower young people with disabilities as they enter adulthood and the world of work.

				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.seeconline.org/' target='_blank'>SEEC</a>
				</th>
				<th>
				SEEC supports people with intellectual and developmental disabilities so they can live and thrive in their communities.
				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.miusa.org/ncde' target='_blank'>National Clearinghouse on Disability & Exchange</a>
				</th>
				<th>
					Provides opportunities for overseas travel and study abroad for people with disabilities. 

				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.transitionta.org/' target='_blank'>National Technical Assistance Center on Transition</a>
				</th>
				<th>
					NTACT’s purpose is to assist State Education Agencies, Local Education Agencies, State VR agencies, and VR service providers in implementing evidence-based and promising practices ensuring students with disabilities, including those with significant disabilities, graduate prepared for success in postsecondary education and employment.

				</th>
			</tr>

			<tr>
				<th>
					<a href='http://www.ncwd-youth.info/' target='_blank'>National Collaborative on Workforce and Disability</a>
				</th>
				<th>
					NCWD/Youth is your source for information about employment and youth with disabilities.

				</th>
			</tr>
		</table>
	</span>
</div>