<h1 class='title'><strong>Virginia</strong></h1>

<div class='section'>
	<span class='section-title'>Department for Aging and Rehabilitative Services (DARS)</span>
	<span class='section-text'>
		<p>
		  The Virginia Department for Aging and Rehabilitative Services, in collaboration with community partners, provides and advocates for resources and services to improve the employment, quality of life, security, and independence of older Virginians, Virginians with disabilities, and their families.
		</p>

		<p>For more information, click the link (<a href='http://www.vadars.org/transitionservices.htm' target='_blank'>DARS</a>)
		</p>
	</span>
</div>
<div class='section'>
	<span class='section-title'>Community Service Boards</span>
	<span class='section-text'>
		<p>
			A community services board (CSB) is the point of entry into the publicly-funded system of services for mental health, intellectual disability, and substance abuse. CSBs provide pre-admission screening services 24-hours per day, 7 days per week.
		</p>
		<p>For more information, click the link <a href='http://www.dbhds.virginia.gov/individuals-and-families/community-services-boards' target='_blank'>Community Service Boards</a></p>
	</span>
</div>

<div class='section'>
	<span class='section-title'>Fairfax County Department of Family Services</span>
	<span class='section-text'>
		<p>
			Get information about disability rights, advocacy, Fairfax Area Disability Boards, and services including employment, transportation, housing, and more.
		</p>
		<p>
			For more information, click the link 
			<a href='http://www.dbhds.virginia.gov/individuals-and-families/community-services-boards' target='_blank'>Department of Family Services</a> or call <a href='tel:7033245421'>703.324.5421</a>

		</p>
	</span>
</div>
<p class='text-center'><a href='http://vafamilysped.org'>Virginia Family Special Education Connection</a></p>


