<h1 class='title'><strong>Volunteering</strong></h1>
<h4>Volunteering allows you to give back to your community and learn new skills! If you are interested in volunteering, do not hesitate to contact them and ask.</h4>
<div class='section'>
	<span class='section-title'>Montgomery College</span>
	<span class='section-text'>
		<ul>
			Here’s a list of ideas to get you started.
			<li>
				<a href='http://dcps.dc.gov/page/community-service' target='_blank'>DCPS community service information (scroll to middle of page to WEBSITES to find find service opportunities)</a>
			</li>
		</ul>

		<ul>
			Animals:
			<li>
				<a href='https://lostdogrescue.org/participate/volunteer/' target='_blank'>Lost Dog Rescue</a>
			</li>
			<li>
				<a href='http://www.sleepysdream.org/volunteer/' target='_blank'>Sleepy's Dream Rescue</a>
			</li>
			<li>
				<a href='http://www.petconnectrescue.org/volunteer/ways-to-help/' target='_blank'>Pet Connect Rescue</a>
			</li>
		</ul>

		<ul>
			Arts:
			<li>
				<a href='http://www.imaginationstage.org/about/jobs-a-auditions' target='_blank'>Imagination Stage (scroll to bottomm of page to volunteers)</a>
			</li>

			<li>
				<a href='http://www.roundhousetheatre.org/about/work-with-us/' target='_blank'>Round House Theatre (click on volunteer)</a>
			</li>

			<li>
				<a href='http://www.rlt-online.org/home/volunteer' target='_blank'>Rockville Little Theatre</a>
			</li>
		</ul>

		<ul>
			Outdoor:
			<li>
				<a href='http://habitatmm.org/volunteer/' target='_blank'>Habitat for Humanity Metro Maryland</a>
			</li>
		</ul>

		<ul>
			Community:
			<li>
				<a href='http://nourishnow.org/volunteer-donate/' target='_blank'>Nourish Now</a>
			</li>

			<li>
				<a href='http://www.goodwill.org/volunteer/' target='_blank'>Goodwill</a>
			</li>

			<li>
				<a href='http://midatlantic.wish.org/ways-to-help/volunteering/become-a-volunteer' target='_blank'>Make A Wish Foundation</a>
			</li>

			<li>
				<a href='http://rockvillepubliclibrary.org/friends.htm' target='_blank'>Rockville Public Library (the friends of RPL- volunteer)</a>
			</li>

			<li>
				<a href='http://www.rockvillemd.gov/index.aspx?nid=504' target='_blank'>Twinbrook Community Recreation Center</a>
			</li>

			<li>
				<a href='http://www.ymcadc.org/page.cfm?p=47' target='_blank'>YMCA- DC</a>
			</li>

			<li>
				<a href='http://www.ymcadc.org/branch.cfm?bid=06' target='_blank'>YMCA- Bethesda</a>
			</li>
		</ul>
	</span>
</div>